extends ../common/_bootstrap-layout

append meta
  title autofit

append contents
  p#autofit
    | Typography
    br
    | is the art
    br
    | and technique of
    br
    | arranging type

append scripts
  script(src='../common/jquery-autofit.js')
  script.
    $(window).resize(function(){
      $('#autofit').autofit();
    }).resize();
