extends ../common/_bootstrap-layout

block append meta
  title autofit

block append contents
  p#autofit
    | Typography
    br
    | is the art
    br
    | and technique of
    br
    | arranging type

block append scripts
  script(src='../common/jquery-autofit.js')
  script.
    $(window)
      .resize(function () {
        $('#autofit').autofit();
      })
      .resize();
