extends ../common/_bootstrap-layout

block append meta
  title canvas-download

block append contents
  h1 canvas-download

block append rows
  .row
    .col-sm-12
      p
        button.btn.btn-primary Download
      canvas(width=300, height=300)

block append scripts
  script(src='canvas-download.js')
