extends ../common/_bootstrap-layout

append meta
  title canvas-download

append contents
  h1 canvas-download

append rows
  .row
    .col-sm-12
      p
        button.btn.btn-primary Download
      canvas(width=300, height=300)

append scripts
  script(src='canvas-download.coffee')
