extends ../common/_bootstrap-layout

append meta
  title countdown

append contents
  p#countdown

append scripts
  script(src='../common/countdown.coffee')
  script.
    $('#countdown').html(countdown('{%y年}{%d日}{%h時間}{%m分}{%s秒}', 289342751));
