extends ../common/.layout

append meta
  title countdown

append contents
  p#countdown

append scripts
  script.
    window.pp=console.log.bind(console);
  script(src='/common/countdown.js')
  script.
    $('#countdown').html(countdown('{%y年}{%d日}{%h時間}{%m分}{%s秒}', 289342751));
