extends ../common/_bootstrap-layout

block append meta
  title countdown

block append contents
  p#countdown

block append scripts
  script(src='../common/countdown.js')
  script.
    $('#countdown').html(countdown('{%y年}{%d日}{%h時間}{%m分}{%s秒}', 289342751));
