@use 'sass:string';

@keyframes glitch-dncngrl-flash {
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}

@keyframes glitch-dncngrl-shift-1 {
  0% {
    mix-blend-mode: screen;
    transform: translate3d(4px, 2px, 0);
  }
  20% {
    transform: translate3d(-5px, -2px, 0);
  }
  40% {
    transform: translate3d(2px, 1px, 0);
  }
  60% {
    transform: translate3d(-2px, -1px, 0);
  }
  80% {
    transform: translate3d(-4px, 1px, 0);
  }
  100% {
    mix-blend-mode: normal;
  }
}

@keyframes glitch-dncngrl-shift-2 {
  0% {
    mix-blend-mode: screen;
    transform: translate3d(2px, -1px, 0);
  }
  25% {
    transform: translate3d(-4px, 1px, 0);
  }
  50% {
    transform: translate3d(-3px, -1px, 0);
  }
  75% {
    transform: translate3d(5px, 1px, 0);
  }
  100% {
    mix-blend-mode: normal;
    transform: translate3d(2px, -2px, 0);
  }
}

@keyframes glitch-dncngrl-shift-3 {
  0% {
    mix-blend-mode: screen;
    transform: translate3d(-2px, 1px, 0);
  }
  33% {
    transform: translate3d(7px, -1px, 0);
  }
  66% {
    transform: translate3d(-1px, -2px, 0);
  }
  88% {
    transform: translate3d(3px, 2px, 0);
  }
  100% {
    mix-blend-mode: normal;
    transform: translate3d(-2px, -1px, 0);
  }
}

@keyframes glitch-dncngrl-blend-1 {
  0% {
    mix-blend-mode: screen;
  }
  25% {
    mix-blend-mode: hue;
  }
  50% {
    mix-blend-mode: saturation;
  }
  75% {
    mix-blend-mode: hue;
  }
  100% {
    mix-blend-mode: screen;
  }
}

@keyframes glitch-dncngrl-blend-2 {
  0% {
    mix-blend-mode: luminosity;
  }
  25% {
    mix-blend-mode: hue;
  }
  50% {
    mix-blend-mode: normal;
  }
  75% {
    mix-blend-mode: saturation;
  }
  100% {
    mix-blend-mode: color;
  }
}

@keyframes glitch-dncngrl-blend-3 {
  0% {
    mix-blend-mode: hue;
  }
  25% {
    mix-blend-mode: luminosity;
  }
  50% {
    mix-blend-mode: color;
  }
  75% {
    mix-blend-mode: saturation;
  }
  100% {
    mix-blend-mode: hue;
  }
}
.glitch-dncngrl-clone {
  position: relative;
  transform: translate3d(0, 0, 0);
  .glitch-dncngrl-red,
  .glitch-dncngrl-green,
  .glitch-dncngrl-blue {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  .glitch-dncngrl-red {
    background-color: #f00;
  }
  .glitch-dncngrl-green {
    background-color: #0f0;
  }
  .glitch-dncngrl-blue {
    background-color: #00f;
  }

  $glitch-duration: 200ms;
  @each $i in 1, 2, 3 {
    &.glitch-dncngrl-pattern-#{$i} {
      animation-duration: $glitch-duration;
      animation-timing-function: linear;
      animation-name: glitch-dncngrl-flash;
      .glitch-dncngrl-red,
      .glitch-dncngrl-green,
      .glitch-dncngrl-blue {
        animation-duration: $glitch-duration;
        animation-timing-function: linear;
        animation-name: string.unquote('glitch-dncngrl-shift-' + $i);
        & > * {
          animation-duration: $glitch-duration;
          animation-timing-function: steps(5);
          animation-name: string.unquote('glitch-dncngrl-blend-' + $i);
        }
      }
    }
  }
}
