extends ../common/_bootstrap-layout

append meta
  title glitch

append contents
  - var h1_text='css glitch'
  h1(data-glitch-text=h1_text)= h1_text

  h2.glitch-codrops-text CSS Glitch Effect

  img.glitch-dncngrl(src='https://placeimg.com/320/240/any')

append styles
  link(rel='stylesheet' href='glitch.styl')
  link(rel='stylesheet' href='glitch-codrops.styl')
  link(rel='stylesheet' href='glitch-dncngrl.styl')

append scripts
  script(src='glitch-dncngrl.coffee')
