extends ../common/_bootstrap-layout

append meta
  title glitch

append contents
  - var h1_text='css glitch'
  h1(data-glitch-text=h1_text)= h1_text

append styles
  link(rel='stylesheet' href='glitch.styl')

block scripts
