extends ../common/_bootstrap-layout
include ../common/_vue

append meta
  title tests

append scripts
  script(src='scripts.coffee')

append contents
  h1 tests

append rows
  .row#vue(v-cloak)
    .col-sm-12
      .text-center(v-if='loading')
        span.spinner-border
      ul(v-if='!loading')
        li(v-for='content in contents')
          a(v-bind:href='content.href', v-text='content.label')
