extends ../common/_bootstrap-layout
include ../common/_vue

block append meta
  title tests

block append scripts
  script(src='scripts.js')

block append contents
  h1 tests

block append rows
  #vue.row(v-cloak)
    .col-sm-12
      .text-center(v-if='loading')
        span.spinner-border
      ul(v-if='!loading')
        li(v-for='content in contents')
          a(v-bind:href='content.href', v-text='content.label')
