extends ../common/_bootstrap-layout

block append meta
  title jatyping

block append contents
  #jatyping-js-test
    p#jatyping
    p#jatyping-text
      span(
        data-jatyping=`[
        [
          ["にほｇｎ", "にほんごの"],
          [["にほん", "日本"], ["ご", "後", "五", "御", "語"], ["の"]]
        ],
        [
          ["にゅりょ", "にゅうりょくができる"],
          [["入力が"], ["できる", "出来る"]]
        ]
      ]`
      ) 日本語の入力が出来る
      b(data-jatyping='[["typing.hs", "typing.js"]]') typing.js
      span(data-jatyping='[[["です"]]]') です

  #jatyping-css-test
    p
      span.jatyping-input 日本語
      span.jatyping-input
        span.jatyping-typing にゅうりょく
      span.jatyping-caret

    p
      span.jatyping-input
        span.jatyping-typing 漢字
        span.jatyping-typing.jatyping-convert かな
        span.jatyping-typing 変換

block append styles
  link(rel='stylesheet', href='../common/jatyping.scss')

block append scripts
  script(type='module', src='../common/jatyping.js')
  script.
    // にほｇ 日本語の にゅりょく 入力が出来る typing.hs js です
    function main() {
      $('#jatyping').jatyping(
        [
          [
            ['にほｇｎ', 'にほんごの'],
            [['にほん', '日本'], ['ご', '後', '五', '御', '語'], ['の']],
          ],
          [
            ['にゅりょ', 'にゅうりょくができる'],
            [['入力が'], ['できる', '出来る']],
          ],
          ['typing.hs', 'typing.js'],
          [['です']],
        ],
        function () {
          $(this).jatyping(main);
        },
        1000
      );
    }
    main();

    $('#jatyping-text').jatyping();
