body {
  color: #fff;
  background: #111 radial-gradient(#333, #111) no-repeat fixed;
  background-size: cover;
  overflow: hidden;
  font-family: sans-serif;
}
.flyin p {
  margin: 0;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  width: 100%;
  position: fixed;
  top: 40%;

  small {
    display: block;
    font-size: 0.4em;
    opacity: 0.8;
  }

  opacity: 0;
  animation: flyin 32s linear infinite;
}

@keyframes flyin {
  0% {
    opacity: 0;
    filter: blur(20px);
    transform: scale(12);
  }
  3% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
  10% {
    opacity: 1;
    filter: blur(0);
    transform: scale(0.9);
  }
  13% {
    opacity: 0;
    filter: blur(10px);
    transform: scale(0.1);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
