extends ../common/_layout

append meta
  title movie-title

append body
  .flyin
    p
      small Very
      | Cinematic
    p(style='animation-delay:4s')
      | Fade Away
      small into the distance
    p(style='animation-delay:8s')
      | Still Loops
      small for eternity
    p(style='animation-delay:12s')
      small Just CSS
      | and HTML
    p(style='animation-delay:16s')
      small Very
      | Cinematic
    p(style='animation-delay:20s')
      | Fade Away
      small into the distance
    p(style='animation-delay:24s')
      | Still Loops
      small for eternity
    p(style='animation-delay:28s')
      small Just CSS
      | and HTML

append styles
  link(rel='stylesheet' href='movie-title.styl')

block scripts
