extends ../common/_layout

block append meta
  title movie-title

block append body
  .flyin
    p
      small Very
      | Cinematic
    p(style='animation-delay: 4s')
      | Fade Away
      small into the distance
    p(style='animation-delay: 8s')
      | Still Loops
      small for eternity
    p(style='animation-delay: 12s')
      small Just CSS
      | and HTML
    p(style='animation-delay: 16s')
      small Very
      | Cinematic
    p(style='animation-delay: 20s')
      | Fade Away
      small into the distance
    p(style='animation-delay: 24s')
      | Still Loops
      small for eternity
    p(style='animation-delay: 28s')
      small Just CSS
      | and HTML

block append styles
  link(rel='stylesheet', href='movie-title.scss')
