h1
  font-size 100px
  border-radius 6px
  padding 2px
  background-image linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82)

  span
    display flex
    border-radius 4px
    background-color #fff
