doctype
html(lang='ja')
  head
    meta(charset='UTF-8')
    title マミー時計
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
    .container
      .row
        .col-sm-12
          h1
            | マミー時計
            small これが在米広島人の生活リズムだ！
      .row#clocks
      .row
        .col-sm-12
          p.text-right
            a(href='https://twitter.com/kluck_me/status/477325771237646338') 元ネタ
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js')
    script(src='//momentjs.com/downloads/moment-timezone-with-data.min.js')
    script(src='scripts.js')
