extends ../common/.bootstrap-layout

append meta
  title マミー時計

append contents
  h1
    | マミー時計
    small これが在米広島人の生活リズムだ！

append rows
  .row#clocks
  .row
    .col-sm-12
      p.text-right
        a(href='https://twitter.com/kluck_me/status/477325771237646338') 元ネタ

append scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js')
  script(src='//momentjs.com/downloads/moment-timezone-with-data.min.js')
  script(src='scripts.js')
