extends ../common/_bootstrap-layout
include ../common/_vue

block append meta
  title マミー時計

block append scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js')
  script(src='//momentjs.com/downloads/moment-timezone-with-data.min.js')
  script(src='scripts.js')

block append contents
  h1 マミー時計
  p.lead.text-secondary これが在米広島人の生活リズムだ！

block append rows
  #vue.row(v-cloak)
    .col-sm-4(v-for='clock in clocks')
      .page-header
        h3
          abbr {{ clock.tz }}
          small {{ clock.tz_name }}
      h1 {{ clock.time.format('hh:mm:ss A') }}
  .row
    .col-12
      p.text-right
        a(href='https://twitter.com/kluck_me/status/477325771237646338') 元ネタ
