extends ../common/.bootstrap-layout

append meta
  title 台湾在住の借金メーター

append contents
  h1 台湾在住の借金メーター
  p.text-muted 二〇一六年五月一日　僕は覚えている　いしまつさんに2000円貸したことを…　本を買いすぎて電車代がないとか言っていたことを……
  p.text-danger 二〇一七年一月八日　いしまつさんは無事返済しました！　以下は単なるシミュレーションです。
  p
    big
      | 二〇一六年五月一日に
      big 2000円
      | 借金すると現時点で返済額は
      big#jpy
      small#twd
      | です。
  p （金利は利息制限法に基づきます）

append scripts
  script(src='scripts.js')
