extends ../common/_bootstrap-layout
include ../common/_vue

append meta
  title viz

append styles
  link(rel='stylesheet' href='styles.styl')

append scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/processing.js/1.6.6/processing.min.js')
  script(src='scripts.coffee')

block body
  #vue.container-fluid(v-cloak)
    .row
      .col-sm-6
        .form-group
          .btn-group.btn-group-sm
            button.btn.btn-secondary(v-on:click.stop.prevent='run', v-bind:disable='running')
              i.fa.fa-refresh
              = ' Run'
            button.btn.btn-secondary(v-on:click.stop.prevent='pause', v-bind:disabled='!running', v-if='playing')
              i.fa.fa-pause
              = ' Pause'
            button.btn.btn-secondary(v-on:click.stop.prevent='play', v-bind:disabled='!running', v-if='!playing')
              i.fa.fa-play
              = ' Play'
        textarea.form-control(v-model='input')
      .col-sm-6
        canvas(ref='canvas', width='0', height='0')
