html
body
.container-fluid
.row
.col-sm-6
form
  height 100%

.container-fluid
  padding 15px

.col-sm-6 form
  display flex
  flex-direction column

textarea.form-control
  flex 1
  resize none

canvas
  vertical-align bottom
  width 100%
