doctype
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #2 プログラミングも好きですか？ - 1が並んで0となる
    link(rel='stylesheet', href='styles.css')
  body
    .wrapper
      header
        h1 #2 プログラミングも好きですか？

      section
        p
          img(src='2-1.jpg')
        p
          img(src='2-2.jpg')
        p
          img(src='2-3.jpg')

      footer
        p
          | &copy; 2008
          = ' '
          a(href='https://kluck.me/') Kluck
