doctype
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title コメント - 1が並んで0となる
    link(rel='stylesheet', href='styles.css')
  body
    .wrapper
      header
        h1 コメント

      section
        p
          | [80] おもしろかったです &lt;2011/09/23 00:01:54&gt; lJKR79r.P
          br
          | [79] たまに読み返してる &lt;2011/08/21 18:57:47&gt; iGF5uaS.P
          br
          | [78] まだー？ &lt;2011/08/15 23:21:50&gt; KQ7nS9v.P
          br
          | [77] 次の更新が楽しみです &lt;2011/06/04 23:24:00&gt; DLMTwsB.P
          br
          | [76] お、面白い &lt;2010/11/25 04:12:00&gt; 97FjJhX/P
          br
          | [75] 地味になんかこれいいわ &lt;2010/10/11 01:43:00&gt; mCS.oaQ1P
          br
          | [74] 面白かった！ &lt;2010/08/02 16:15:00&gt; Kr8pi820P
          br
          | [73] どっかのロリコンSEみたいに読者を埋めないようにね！ &lt;2009/08/29 01:12:00&gt; ra5zbZm1P
          br
          | [72] いつかKluck先生の描いた最速ちゃんを読んでみたい &lt;2009/07/09 11:42:00&gt; H.HsUoK/P
          br
          | [71] 時代を先取りし過ぎ &lt;2009/05/10 13:36:00&gt; JOvz1R81P
          br
          | [70] マニアックすぎるｗ &lt;2009/05/09 16:36:00&gt; lQVhkg7.P
          br
          | [69] 内定……いつになるんだよ &lt;2009/03/29 15:12:00&gt; KHfywG0.P
          br
          | [68] 実は更新待ってる &lt;2009/03/29 14:07:00&gt; 3Jw6.MV/P
          br
          | [67] ふふふ &lt;2009/02/25 16:10:00&gt; Br7eS3k1P
          br
          | [66] FA &lt;2009/02/22 16:10:00&gt; Z6ZWwpo0P
          br
          | [65] ネタが解ったら楽しいんだろうけど専門的すぎて共感ができないｗ &lt;2009/02/18 15:58:00&gt; K1f6sCb.P
          br
          | [64] 理系漫画ｴｴﾜｧ &lt;2009/01/17 09:58:00&gt; HMaK4AG/P
          br
          | [63] 作者コメ更新ｷﾀ &lt;2009/01/13 23:08:00&gt; /cuHLiL/P
          br
          | [62] &gt;&gt;56　いや万田だろ &lt;2009/01/07 21:09:00&gt; UBOHUFI0P
          br
          | [61] タイトルに釣られてきたけどイミフ &lt;2009/01/02 02:24:00&gt; iO/KkUv0P
          br
          | [60] みなみけだな、内容が専門的すぎてさっぱりです &lt;2008/11/19 08:50:00&gt; 3a12NBd/P
          br
          | [59] 女子高生とプログラミングの組み合わせおもすれー＾＾ &lt;2008/10/25 01:57:00&gt; ShF/GG41P
          br
          | [58] &gt;&gt;56　どうみても漫画だろｗｗｗｗ &lt;2008/10/24 22:50:00&gt; pkfG.7D/P
          br
          | [57] こういう漫画は好みが分かれやすいよな　俺は好きだけど &lt;2008/10/24 22:11:00&gt; E9Vp7kJ/P
          br
          | [56] 漫画でなければ用語のイラスト解説でもない、高校生の間ではこういうのが今の流行なのか。。。 &lt;2008/10/23 22:08:00&gt; 1i12ES70P
          br
          | [55] GNOME諦めれ debにxfceあたりの軽量WM被せれ Gentooとかでカリカリチューン目指したら絶対手段と目的が逆転する… &lt;2008/10/23 16:24:00&gt; 0HKcKye/K
          br
          | [54] 鳥に迷うくらいのレベルならDebian姉さまよりもUbuntuタソだろ GNOMEにこだわるならどれでも一緒 正直他のWMを勧… &lt;2008/10/23 13:23:00&gt; sVioczX0K
          br
          | [53] こういうネタをやるなら解説欄はどのみち無粋だと思う。あとﾃﾞｨｽ鳥で困ったらdebを入れとけって儲のばっちゃが言ってた！ &lt;2008/10/23 10:47:00&gt; 1mnc/at0P
          br
          | [52] Interface誌にこんな感じの漫画が連載してる、エンジニア系の嗜好だな &lt;2008/10/22 23:02:00&gt; XKUDNid1P
          br
          | [51] 一人の購入時間と新しく一人並ぶ頻度が釣り合っている場合レジを２つにすれば行列は減っていき待ち時間は半分じゃなくてゼロになるって… &lt;2008/10/22 20:51:00&gt; CiJyB6y/P
          br
          | [50] なんか厨2臭いんだよすごく &lt;2008/10/22 12:44:00&gt; /VibG201P
          br
          | [49] 日常の一コマをPC用語にしてるだけな感じがする。その手の人には面白いのか &lt;2008/10/22 08:18:00&gt; Q1.jsvz1P
          br
          | [48] オライリーですね。分かります。yacc&lexしたいです。 &lt;2008/10/22 01:02:00&gt; vJcMfXL.P
          br
          | [47] なんちゅうマニアックな４コマｗｗｗｗｗｗｗｗｗｗ &lt;2008/10/22 00:56:00&gt; yC8t.d8/P
          br
          | [46] 桜庭コハルをここにみた &lt;2008/10/22 00:06:00&gt; r7ieZCi0P
          br
          | [44] おもしれぇｗｗｗ &lt;2008/10/21 23:31:00&gt; NMHCz3h0P
          br
          | [45] スマガはおもれえええええええええええ &lt;2008/10/21 23:31:00&gt; 5Dd8tGv1P
          br
          | [43] みなみけ厨ですね。わたしもです &lt;2008/10/21 23:22:00&gt; 7SO59Sd/P
          br
          | [42] 意味はわからないけど、興味深いし楽しいｗｗｗ &lt;2008/10/21 23:08:00&gt; /KiGQvQ0P
          br
          | [41] 情報工B4の俺でも作者が情報工学に憧れを持っている高校生なんだろうなってことは解かった。 &lt;2008/10/21 22:56:00&gt; KA4KomH1P
          br
          | [40] わかりにくくてつまんね &lt;2008/10/21 22:50:00&gt; Rn/jGCk1P
          br
          | [39] もう一人同じ思考のキャラがでると漫画としては面白いかもｗ &lt;2008/10/21 21:39:00&gt; i8X9VeT0P
          br
          | [38] ﾊﾟｿｺﾝ部にそれ系のｵﾀが多いのは、そのためにpc触れるから入ってるわけでｗ &lt;2008/10/21 21:17:00&gt; rV.KoYM0P
          br
          | [37] 間違いなくみなみけ厨。 &lt;2008/10/21 20:41:00&gt; w4aLUed0P
          br
          | [36] 読みました &lt;2008/10/21 20:38:00&gt; zZEAMgN.P
          br
          | [35] 一週間でカラー４コマ２ぱげが限度の自分が通りますよ、と &lt;2008/10/21 20:10:00&gt; vHS4Dzd/P
          br
          | [34] 作者はみなみけが好きであるという確信がある &lt;2008/10/21 20:07:00&gt; ybdrmRh1P
          br
          | [33] 255までいkuto0 &lt;2008/10/17 18:39:00&gt; aJhfDMg0P
          br
          | [32] tr1も出るかな &lt;2008/10/17 13:28:00&gt; gdATrLc0P
          br
          | [31] 、おもしろい &lt;2008/10/16 18:12:00&gt; Wr7xU5o/P
          br
          | [30] うん &lt;2008/10/16 04:30:00&gt; 1m/1JVj.P
          br
          | [29] 絶対にアンチいると思ったらやっぱりいたｗｗｗｗｗ &lt;2008/10/16 03:47:00&gt; gJuABWV1P
          br
          | [28] 名前だけ見て、2進数かと思った &lt;2008/10/15 23:23:00&gt; ngT/Fzf1P
          br
          | [27] SEですが仕様書を作ってばかりでプログラムできません＞＜ &lt;2008/10/15 21:59:00&gt; GVRUwo//P
          br
          | [26] これはいいｗｗ是非続けてくれ &lt;2008/10/15 18:57:00&gt; C/uC0m9.P
          br
          | [25] 安定した絵がいい &lt;2008/10/15 18:39:00&gt; xD7V/MP1P
          br
          | [24] ＳＥなんて底辺がなる仕事だろ。実装なんて単価の安い中国人にでもやらせておけばいい。 &lt;2008/10/15 16:18:00&gt; qvq1Yqq1P
          br
          | [23] どうせなら用語解説なんかカットして分かる人だけ分かるようにすればいいのに &lt;2008/10/15 16:13:00&gt; g1vccTD0P
          br
          | [22] システム業界にありがちなこと・・・要求仕様：面白い漫画を書く -&gt; 実装：1が並んで0となる &lt;2008/10/15 14:36:00&gt; HJESUGv0P
          br
          | [21] 理系の内容にも程があるぞｗｗｗｗｗｗ &lt;2008/10/15 11:17:00&gt; IdCpTKV1P
          br
          | [20] *c--　←初心者でよくあるｗｗｗ &lt;2008/10/15 10:38:00&gt; /evGDeo.P
          br
          | [19] ファミコンの事は全くわからんがおもしろい　他にも描いてないかと作者名検索したら文藝作家だった！ &lt;2008/10/15 08:02:00&gt; sQKZomo1P
          br
          | [18] この程度でC++できるとか・・・まだ用語並べてるだけだから　素人でもググればわかるレベルだから＾＾； &lt;2008/10/15 03:46:00&gt; 1G9.CIf0P
          br
          | [17] シープラなぞ自慢にもならんわ！ガチニートの俺でも使えるっつーのｗｗｗｗｗｗｗ &lt;2008/10/15 03:23:00&gt; J8Zm1F40P
          br
          | [16] 面白いからもっと描きなさい。 &lt;2008/10/15 02:56:00&gt; CaUtua.0P
          br
          | [15] ただ自分がC++できるっての自慢したいのか &lt;2008/10/15 00:51:00&gt; k5d9ydK.P
          br
          | [14] sudo killall -e 1が並んで0となる &lt;2008/10/15 00:23:00&gt; HJESUGv0P
          br
          | [13] やるじゃねえかｗｗｗ &lt;2008/10/15 00:00:00&gt; wwOyHG2.P
          br
          | [12] 僕のデバイスを使ってください＞＜ &lt;2008/10/14 23:54:00&gt; krJtMNx0P
          br
          | [11] Kluckつよいな &lt;2008/10/14 23:34:00&gt; 6N0A8dK/P
          br
          | [10] ハックじゃなくてファックしたい &lt;2008/10/14 22:44:00&gt; sjFPe/T.P
          br
          | [9] こんな女子高生にハックされたいです＞＜； &lt;2008/10/14 22:40:00&gt; lNNsHoE1P
          br
          | [8] 意味川からにけど面白い &lt;2008/10/14 22:38:00&gt; VilN0VE.P
          br
          | [7] こういうのもいいな。 &lt;2008/10/14 22:31:00&gt; d155/7S/P
          br
          | [6] 字が小さい &lt;2008/10/14 22:20:00&gt; WBnrgfd/P
          br
          | [5] アルゴリズム体操しか知らんアホな俺だがなんか好き &lt;2008/10/14 22:12:00&gt; c9Y.O.i/P
          br
          | [4] 専門知識必須じゃないかｗｗ　俺は支持する &lt;2008/10/14 22:09:00&gt; Sh.Smgq0P
          br
          | [3] EOF &lt;2008/10/14 21:36:00&gt; v6xk3Em1P
          br
          | [2] やるやるｗｗｗｗｗ&lt;creat &lt;2008/10/14 21:34:00&gt; ixmndDh.P
          br
          | [1] 文字をもっと大きくして欲しい、読みにくい。作者が好きなので応援 &lt;2008/10/14 21:29:00&gt; RvbnGsF/P

      footer
        p
          | &copy; 2008
          = ' '
          a(href='https://kluck.me/') Kluck
