doctype
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title ファンアート - 1が並んで0となる
    link(rel='stylesheet', href='styles.css')
  body
    .wrapper
      header
        h1 ファンアート

      section
        p
          img(src='fa-1.jpg')
        p
          img(src='fa-2.png')
        p
          img(src='fa-3.jpg')
        p
          img(src='fa-4.jpg')

      footer
        p
          | &copy; 2008
          = ' '
          a(href='https://kluck.me/') Kluck
