extends ../common/.layout

append meta
  title 1が並んで0となる

append styles
  link(rel='stylesheet', href='styles.css')

block scripts

append body
  .wrapper
    h1 1が並んで0となる
    p
      | 2008年頃に「計算機科学寄り情報工学系女子高生斉坂式の物語」と銘打って、
      a(href='http://neetsha.jp/') 新都社
      | のまんがニートぷげらに掲載されたものです。

    section
      h2 #1 アルゴリズムは好きですか？
      p
        img(src='1-1.jpg')
      p
        img(src='1-2.jpg')
      p
        img(src='1-3.jpg')
      p
        | ◆女子高生 expression
        br
        | ・Haskell
        br
        | 純粋関数型言語っていう分類がなされるプログラミング言語の一つ。数学的な問題などアルゴリズム的な記述であれば、C++よりはるかに少ない分量で記述できる。
      p
        | ◆目の付け所はNP困難
        br
        | ・NP困難
        br
        | Wikipediaが分かりやすい、が、普通の人だとWikipediaでもイミフな可能性大。乱暴に言うと完璧な解答を出すのに、コンピュータを使っても超時間がかかる問題のジャンル（説明超手抜き）。
        br
        br
        | ・巡回セールスマン問題
        br
        | NP困難な問題の一例。セールスマンが各都市全てを巡る最短距離を出す問題。正解を出すのに、現在のコンピュータでは全パターンのルートを計算するしかない。
        br
        br
        | ・GA
        br
        | 遺伝的アルゴリズムという手法。NP困難の正解ではなく、正解に近い答え（正解かもしれない）を高速に求めることができる。上の巡回セールスマン問題なら、1000kmが正解だとすると、1150kmとか1200kmみたいな答えに近いものを出せる。
      p
        | ◆勝手に添削？
        br
        | ・Boost
        br
        | C++のライブラリ集。次期C++に影響を与えるぐらいすごい。multi indexはそのライブラリに含まれるものの一つ。ちなみに、彼女のつっこみは間違っている。企業ではBoostライブラリの利用は大概認められていないので、他の工夫が必要。そもそも、こんな簡単なことでつまるSEとか（ｒｙ
      p
        | ◆頭の中はショートコードでいっぱい
        br
        | ・ショートコーディング
        br
        | 与えられた問題を解くプログラムを出来る限り短いソースコードで書くこと。基本的にC++を使って競い合う。彼女が考えているのはとある問題のコードだったりする。汎用的な物じゃないよ！
      p
        | ◆ケントンプソンだって間違ったもん
        br
        | ・creat
        br
        | UNIXでファイルを作る（create）する命令。ケン・トンプソンというUNIXの発明者のスペルミスという説が有力。

    section
      h2 #2 プログラミングも好きですか？
      p
        img(src='2-1.jpg')
      p
        img(src='2-2.jpg')
      p
        img(src='2-3.jpg')
      p
        | ◆カッコカッコとくれば……
        br
        | ・'a -> <treaty>
        br
        | 純粋関数型言語のOCamelでの型表記では一つの引数を取って関数を返す関数を「'a -> <fun>」と表記する。それが転じて、政経の授業でカッコがいくつも並んだ表記を見た彼女はジョーク的にノートに書いたいたずら書き。ちなみにカッコと言えばLISPだけど、この言語を選んだ理由は先生の名字が××だからに違いない。
      p
        | ◆大変なのはオーダーが悪いから
        br
        | ・挿入ソート
        br
        | ソートというのはコンピュータ上で並べ替えをするアルゴリズム。一般的に使われるのは高速なクイックソート（厳密にはイントロソートとか。分散DBだとまた微妙に違う）。挿入ソートは遅いが人間が並び替えするときは大抵この方法。クイックソートを実際に人がやると並び順を記憶したりする必要があるので、普通は遅くなる。
      p
        | ◆待ち行列理論ならそうなる
        br
        | ・待ち行列理論
        br
        | 行列の平均混雑率とかを求める分野。この話ではその理論での基本を言っているだけです。実はあまり難しくないので、少し考えてみると楽しいかもしれません。マラソンで二位の人を抜かしたら何位になるかというようなクイズ的な要素が強いかもしれないのです。
      p
        | ◆￢（計算機科学⊂パソコン部）
        br
        | ・パソコン部
        br
        | なんでエロゲオタ、アニオタが多いんでしょうか？　GUIのイベント管理は演算子のオーバーロードのライブラリ作るよねとかEmacsでゲーム作ったとかそういうオタが全然いないのはまずいと思います。情報オリンピックとかSuperConにもっと積極的になると良いと思います。
        br
        br
        | ・スマガ
        br
        | エロゲー批評空間で評価が高かった作品。よく知らない。エロゲっぽいものの例が思いつかなかったから、とりあえず。
      p
        | ◆母の不正なメモリアクセス
        br
        | ・委譲
        br
        | 譲り渡すということだが、ここではプログラミング言語においての手法を暗示している。「プリンを母に委譲した」のではなく「プリンを食べるという行為を母に委譲した」と母が主張している。委譲するにはメソッドのオーバーライドが必要だけど、普通はできないから、メモリー上を直接書き換えとかっていうハック的なことが必要になるから、あんなサブタイトル。まぁ、そういう母だからこの娘が。

    section
      h2 ファンアート
      p
        img(src='fa-1.jpg')
      p
        img(src='fa-2.png')
      p
        img(src='fa-3.jpg')
      p
        img(src='fa-4.jpg')

    footer
      p
        | &copy; 2008
        = ' '
        a(href='https://kluck.me/') Kluck
