doctype
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title 1が並んで0となる
    link(rel='stylesheet', href='styles.css')
  body
    .wrapper
      header
        h1 1が並んで0となる

      section
        p
          | これは2008年頃に「計算機科学寄り情報工学系女子高生斉坂式の物語」と銘打って、
          a(href='http://neetsha.jp/') 新都社
          | のまんがニートぷげらに掲載した作品です。
        ul
          li
            a(href='1.html') #1 アルゴリズムは好きですか？
          li
            a(href='2.html') #2 プログラミングも好きですか？
          li
            a(href='fa.html') ファンアート
          li
            a(href='cm.html') コメント
        p テキストが色々失われているのですが、どこかに残っていると思うのでそのうち直します。

      footer
        p
          | &copy; 2008
          = ' '
          a(href='https://kluck.me/') Kluck
