body
  margin 0
  font 13px/1.234 sans-serif
  color #333
  background-color #f9f9f9

.wrapper
  margin 0 auto
  padding 0 1em
  max-width 570px

a
  color #21a
  text-decoration none

  &:hover
    text-decoration underline

header
  border-bottom 1px solid #ccc

section
  p
    text-align justify
    text-justify inter-ideograph

  img
    max-width 100%

footer
  border-top 1px solid #ccc
  color #999
