extends ../common/_layout
include ../common/_jquery

append meta
  title 911

append styles
  link(rel='stylesheet', href='styles.scss')

append scripts
  script(src='scripts.coffee')

block body
  #videos
    div please click!
