extends ../common/_layout
include ../common/_jquery

block append meta
  title 911

block append styles
  link(rel='stylesheet', href='styles.scss')

block append scripts
  script(src='scripts.js')

block body
  #videos
    div please click!
