body
  background-color black
  color white

html
body
#videos
#videos video
  margin 0
  width 100%
  height 100%

#videos video
  position absolute
  top 0
  left 0
  right 0
  bottom 0

#videos div
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
