extends ../common/_layout
include ../common/_jquery

block append meta
  title 七○楓

block styles
  style.
    #r {
      font-weight: bold;
    }

block append scripts
  script(src='../common/jquery-autofit.js')
  script(type='module', src='scripts.js')

block body
  #r(style='display: none') 七○楓
