extend ../common/.layout

append meta
  title 七○楓

block styles
  style.
    #r { font-weight: bold; }

append scripts
  script(src='/common/autofit.js')
  script(src='scripts.js')

block body
  #r 七○楓
