extends ../common/_layout
include ../common/_jquery

append meta
  title 七○楓

block styles
  style.
    #r { font-weight: bold; }

append scripts
  script(src='../common/jquery-autofit.coffee')
  script(src='scripts.coffee')

block body
  #r 七○楓
