extends ../common/_layout

block styles
  style.
    #c, #r { display: none; }
    #r, big big big { font-weight: bold; }

append scripts
  include ../common/_jquery
  script(src='../common/countdown.coffee')
  script(src='../common/jquery-autofit.coffee')
  script(src='scripts.coffee')

block body
  block countdown
    #c.f
      block countdown-contents
        big あと<span id="t"></span>
  block result
    #r.f
      block result-contents
