doctype
html(lang='ja')
  head
    meta(charset='UTF-8')
    title 有末無職のカウントダウン
    style.
      #c, #r { display: none; }
      #r, big big big { font-weight: bold; }
  body
    #c.f
      a(href="https://twitter.com/search?q=%23%E9%80%83%E3%81%92%E3%82%8B%E3%82%88%E3%81%86%E3%81%AB%E9%80%80%E7%A4%BE&src=typd") 逃げるように退職
      | まで
      br
      big あと<span id="t"></span>
    #r.f 祝無職
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script.
      var limit = new Date(2014, 10, 14, 17, 30);
    script(src='scripts.js')
