html {
  height: 100%;
}

body {
  margin: 0;
  color: #fff;
  background-color: #000;
  background: linear-gradient(#000, #012);
  font-family:
    Verdana, Tahoma, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo',
    'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  overflow: hidden;
}
.t,
.t span,
.l {
  animation-duration: 7.396s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  perspective: 800;
}
.t {
  margin: 0 auto 0;
  width: 800px;
  height: 600px;
  transform-origin: bottom center;
  animation-name: box;
  transform: scale(1);
}

@keyframes box {
  84.375% {
    transform: scale(0.1);
  }
  85.9375% {
    transform: scale(1);
  }
}
.t span {
  margin: 0;
  width: 200px;
  display: inline-block;
  font-size: 1150%;
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke-width: 3px;
}
.t span:nth-child(1) {
  color: #fffdc2;
  -webkit-text-stroke-color: #fcec29;
  transform-origin: bottom right;
  transform: rotate(-30deg) translateX(0.21em) translateY(0.1em) scale(1);
  animation-name: c1;
}

@keyframes c1 {
  1.5625%,
  12.5%,
  23.4375%,
  34.375%,
  45.3125%,
  56.25%,
  67.1875%,
  78.125% {
    transform: rotate(-30deg) translateX(0.21em) translateY(0.1em) scale(1.01);
    color: #ffc6df;
    -webkit-text-stroke-color: #f53465;
  }
  3.125%,
  14.0625%,
  25%,
  35.9375%,
  46.875%,
  57.8125%,
  68.75%,
  79.6875% {
    transform: rotate(-30deg) translateX(0.21em) translateY(0.1em) scale(0.99);
    color: #fdc2ff;
    -webkit-text-stroke-color: #df32ef;
  }
  4.6875%,
  15.625%,
  26.5625%,
  37.5%,
  48.4375%,
  59.375%,
  70.3125%,
  81.25% {
    color: #d0c2ff;
    -webkit-text-stroke-color: #4a33ef;
  }
  6.25%,
  17.1875%,
  28.125%,
  39.0625%,
  50%,
  60.9375%,
  71.875%,
  82.8125% {
    color: #bdf6ff;
    -webkit-text-stroke-color: #33ace5;
  }
  7.8125%,
  18.75%,
  29.6875%,
  40.625%,
  51.5625%,
  62.5%,
  73.4375% {
    color: #c4ffee;
    -webkit-text-stroke-color: #34f190;
  }
  9.375%,
  20.3125%,
  31.25%,
  42.1875%,
  53.125%,
  64.0625%,
  75% {
    color: #e0ffbf;
    -webkit-text-stroke-color: #6ce636;
  }
  10.9375%,
  21.875%,
  32.8125%,
  43.75%,
  54.6875%,
  65.625%,
  76.5625% {
    color: #fffdc2;
    -webkit-text-stroke-color: #fcec29;
  }
  84.375% {
    color: #070333;
    -webkit-text-stroke-color: #54497f;
  }
  90.625%,
  93.75%,
  96.875%,
  100% {
    text-shadow: 0 0 50px #d9fc29;
  }
}
.t span:nth-child(2) {
  color: #e0ffbf;
  -webkit-text-stroke-color: #6ce636;
  transform: rotate(-4deg) translateX(3%) scale(1);
  animation-name: c2;
}

@keyframes c2 {
  1.5625%,
  12.5%,
  23.4375%,
  34.375%,
  45.3125%,
  56.25%,
  67.1875%,
  78.125% {
    color: #fffdc2;
    text-shadow: 0 0 0px #d9fc29;
    -webkit-text-stroke-color: #fcec29;
  }
  3.125%,
  14.0625%,
  25%,
  35.9375%,
  46.875%,
  57.8125%,
  68.75%,
  79.6875% {
    transform: rotate(-4deg) translateX(3%) scale(1.04);
    color: #f1dbc7;
    text-shadow: 0 0 0px #f53434;
    -webkit-text-stroke-color: #f54b34;
  }
  4.6875%,
  15.625%,
  26.5625%,
  37.5%,
  48.4375%,
  59.375%,
  70.3125%,
  81.25% {
    transform: rotate(-4deg) translateX(3%) scale(0.99);
    color: #fdc2ff;
    text-shadow: 0 0 0px #fc29d9;
    -webkit-text-stroke-color: #df32ef;
  }
  6.25%,
  17.1875%,
  28.125%,
  39.0625%,
  50%,
  60.9375%,
  71.875%,
  82.8125% {
    color: #d0c2ff;
    text-shadow: 0 0 0px #6e2afc;
    -webkit-text-stroke-color: #4a33ef;
  }
  7.8125%,
  18.75%,
  29.6875%,
  40.625%,
  51.5625%,
  62.5%,
  73.4375% {
    color: #bdf6ff;
    text-shadow: 0 0 0px #2aaff9;
    -webkit-text-stroke-color: #33ace5;
  }
  9.375%,
  20.3125%,
  31.25%,
  42.1875%,
  53.125%,
  64.0625%,
  75% {
    color: #c4ffee;
    text-shadow: 0 0 0px #2bfcdc;
    -webkit-text-stroke-color: #34f190;
  }
  10.9375%,
  21.875%,
  32.8125%,
  43.75%,
  54.6875%,
  65.625%,
  76.5625% {
    color: #e0ffbf;
    text-shadow: 0 0 0px #55f92e;
    -webkit-text-stroke-color: #6ce636;
  }
  84.375%,
  87.5% {
    color: #070333;
    -webkit-text-stroke-color: #54497f;
  }
  90.625%,
  93.75%,
  96.875%,
  100% {
    text-shadow: 0 0 50px #55f92e;
  }
}
.t span:nth-child(3) {
  color: #bdf6ff;
  -webkit-text-stroke-color: #33ace5;
  transform: rotate(4deg) translateX(-3%) scale(1);
  animation-name: c3;
}

@keyframes c3 {
  1.5625%,
  12.5%,
  23.4375%,
  34.375%,
  45.3125%,
  56.25%,
  67.1875%,
  78.125% {
    color: #e0ffbf;
    text-shadow: 0 0 0px #55f92e;
    -webkit-text-stroke-color: #6ce636;
  }
  3.125%,
  14.0625%,
  25%,
  35.9375%,
  46.875%,
  57.8125%,
  68.75%,
  79.6875% {
    color: #fffdc2;
    text-shadow: 0 0 0px #d9fc29;
    -webkit-text-stroke-color: #fcec29;
  }
  4.6875%,
  15.625%,
  26.5625%,
  37.5%,
  48.4375%,
  59.375%,
  70.3125%,
  81.25% {
    transform: rotate(4deg) translateX(-3%) scale(1.04);
    color: #f1dbc7;
    text-shadow: 0 0 0px #f53434;
    -webkit-text-stroke-color: #f54b34;
  }
  6.25%,
  17.1875%,
  28.125%,
  39.0625%,
  50%,
  60.9375%,
  71.875%,
  82.8125% {
    transform: rotate(4deg) translateX(-3%) scale(0.99);
    color: #fdc2ff;
    text-shadow: 0 0 0px #fc29d9;
    -webkit-text-stroke-color: #df32ef;
  }
  7.8125%,
  18.75%,
  29.6875%,
  40.625%,
  51.5625%,
  62.5%,
  73.4375% {
    color: #d0c2ff;
    text-shadow: 0 0 0px #6e2afc;
    -webkit-text-stroke-color: #4a33ef;
  }
  9.375%,
  20.3125%,
  31.25%,
  42.1875%,
  53.125%,
  64.0625%,
  75% {
    color: #bdf6ff;
    text-shadow: 0 0 0px #2aaff9;
    -webkit-text-stroke-color: #33ace5;
  }
  10.9375%,
  21.875%,
  32.8125%,
  43.75%,
  54.6875%,
  65.625%,
  76.5625% {
    color: #c4ffee;
    text-shadow: 0 0 0px #2bfcdc;
    -webkit-text-stroke-color: #34f190;
  }
  84.375%,
  87.5%,
  90.625% {
    color: #070333;
    -webkit-text-stroke-color: #54497f;
  }
  93.75%,
  96.875%,
  100% {
    text-shadow: 0 0 50px #2aaff9;
  }
}
.t span:nth-child(4) {
  color: #ffc6df;
  -webkit-text-stroke-color: #f53465;
  transform-origin: bottom left;
  transform: rotate(30deg) translateX(-0.21em) translateY(0.1em) scale(1);
  animation-name: c4;
}

@keyframes c4 {
  1.5625%,
  12.5%,
  23.4375%,
  34.375%,
  45.3125%,
  56.25%,
  67.1875%,
  78.125% {
    color: #fdc2ff;
    text-shadow: 0 0 0px #fc29d9;
    -webkit-text-stroke-color: #df32ef;
  }
  3.125%,
  14.0625%,
  25%,
  35.9375%,
  46.875%,
  57.8125%,
  68.75%,
  79.6875% {
    color: #d0c2ff;
    text-shadow: 0 0 0px #6e2afc;
    -webkit-text-stroke-color: #4a33ef;
  }
  4.6875%,
  15.625%,
  26.5625%,
  37.5%,
  48.4375%,
  59.375%,
  70.3125%,
  81.25% {
    color: #bdf6ff;
    text-shadow: 0 0 0px #2aaff9;
    -webkit-text-stroke-color: #33ace5;
  }
  6.25%,
  17.1875%,
  28.125%,
  39.0625%,
  50%,
  60.9375%,
  71.875%,
  82.8125% {
    transform: rotate(30deg) translateX(-0.21em) translateY(0.1em) scale(1.01);
    color: #c4ffee;
    text-shadow: 0 0 0px #2bfcdc;
    -webkit-text-stroke-color: #34f190;
  }
  7.8125%,
  18.75%,
  29.6875%,
  40.625%,
  51.5625%,
  62.5%,
  73.4375% {
    transform: rotate(30deg) translateX(-0.21em) translateY(0.1em) scale(0.99);
    color: #e0ffbf;
    text-shadow: 0 0 0px #55f92e;
    -webkit-text-stroke-color: #6ce636;
  }
  9.375%,
  20.3125%,
  31.25%,
  42.1875%,
  53.125%,
  64.0625%,
  75% {
    color: #fffdc2;
    text-shadow: 0 0 0px #d9fc29;
    -webkit-text-stroke-color: #fcec29;
  }
  10.9375%,
  21.875%,
  32.8125%,
  43.75%,
  54.6875%,
  65.625%,
  76.5625% {
    color: #f1dbc7;
    text-shadow: 0 0 0px #f53434;
    -webkit-text-stroke-color: #f54b34;
  }
  84.375%,
  87.5%,
  90.625%,
  93.75% {
    color: #070333;
    -webkit-text-stroke-color: #54497f;
  }
  100% {
    text-shadow: 0 0 30px #fd2b48;
  }
}
.l {
  margin: 30px auto -620px;
  width: 800px;
  height: 600px;
  color: transparent;
  font-size: 12px;
  position: relative;
  background-color: #f1166b;
  transform-origin: bottom center;
  transform: scale(1);
  animation-name: lineLight;
  -webkit-mask-box-image: url('bg_flash.png');
}

@keyframes lineLight {
  6.25%,
  12.5%,
  18.75%,
  25%,
  31.25%,
  37.5%,
  43.75%,
  50%,
  56.25%,
  62.5%,
  68.75%,
  75% {
    transform: scale(1);
  }
  0%,
  6.251%,
  12.501%,
  18.751%,
  25.001%,
  31.251%,
  37.501%,
  43.751%,
  50.001%,
  56.251%,
  62.501%,
  68.751%,
  75.001% {
    transform: scale(0.98);
  }
  0%,
  10.9375%,
  21.875%,
  32.8125%,
  43.75%,
  54.6875%,
  65.625%,
  76.5625% {
    background-color: #f1166b;
  }
  1.5625%,
  12.5%,
  23.4375%,
  34.375%,
  45.3125%,
  56.25%,
  67.1875% {
    background-color: #dc14f0;
  }
  3.125%,
  14.0625%,
  25%,
  35.9375%,
  46.875%,
  57.8125%,
  68.75% {
    background-color: #2314e6;
  }
  4.6875%,
  15.625%,
  26.5625%,
  37.5%,
  48.4375%,
  59.375%,
  70.3125%,
  81.25% {
    background-color: #15d6ee;
  }
  6.25%,
  17.1875%,
  28.125%,
  39.0625%,
  50%,
  60.9375%,
  71.875% {
    background-color: #16f098;
  }
  7.8125%,
  18.75%,
  29.6875%,
  40.625%,
  51.5625%,
  62.5%,
  73.4375% {
    background-color: #77ed19;
  }
  9.375%,
  20.3125%,
  31.25%,
  42.1875%,
  53.125%,
  64.0625%,
  75% {
    background-color: #f0dc14;
  }
  0%,
  18.75%,
  43.75%,
  68.75% {
    transform: scale(1);
  }
  0.01%,
  18.76%,
  43.76%,
  68.76% {
    transform: scale(1.2);
  }
  15.625%,
  40.625%,
  65.625% {
    transform: scale(0.95);
  }
  84.375% {
    background-color: #9e1743;
    transform: scale(0.1);
  }
  85.9375% {
    background-color: #650a28;
    transform: scale(1);
  }
}
