extends _layout

append meta
  title 宴会原資獲得のカウントダウン

prepend countdown-contents
  | <del>退職金</del><ins>宴会原資</ins>180万円獲得まで
  br

prepend result-contents
  | 宴会やるので<a href="https://twitter.com/kluck_me">連絡ください</a>！

prepend scripts
  script.
    var deadline = new Date(2017, 3, 1);
