extends _layout

block append meta
  title 無職数のカウントダウン

block styles
  style.
    #c,
    #r {
      display: none;
    }
    big big big {
      font-weight: bold;
    }
  link(rel='stylesheet', href='i-want-to.scss')

block prepend countdown-contents
  | 無職数まで
  br

block result
  #r
    .l
    .t <span>祝</span><span>無</span><span>職</span><span>！</span>

block prepend scripts
  script.
    window.deadline = new Date(2015, 9, 30, 18, 0);
