extends ../common/.layout

append meta
  title 日本語組版における小説記法について

append styles
  link(rel='stylesheet', href='styles.css')

append scripts
  = ''

append body
  .page
    h1 日本語組版における小説記法について
    p 　この文章は、通常横書きのソフトを使って文章を書く場合、気にかけないが、縦書き組版においては気になる要素について、言及している。
  .page
    h2 数字について
    p １．縦書き：
    p 　１階。２３年。４５６％。
    p ２．縦書きだが、二桁のみ横書き：
    p 　<span class="tcy">1</span>階。<span class="tcy">23</span>年。４５６％。
    p ３．漢数字で縦書き：
    p 　一階。二三年。四五六％。
    p ４．漢数字で縦書き（その２）：
    p 　一階。二十三年。四百五十六％。
    p ５．桁が多いときは、横書き：
    p 　<span class="tcy">1</span>階。<span class="tcy">23</span>年。456%。
  .page
    h2 英字について
    p １．縦書き：
    p 　Ａ型。ＯＢ会。ＮＳＡ職員。４６ｃｍ。
    p ２．縦書きだが、二文字のみ横書き：
    p 　<span class="tcy">A</span>型。<span class="tcy">OB</span>会。ＮＳＡ職員。<span class="tcy">46</span><span class="tcy">cm</span>。
    p ３．桁が多いときは、横書き：
    p 　英語のいろは歌として「Jumbling vext frowzy hacks PDQ.」がある。
