extends ../common/_bootstrap-layout

append meta
  title スライドパズルソルバー

append styles
  style.
    #puzzle {
      position: relative;
    }
    #puzzle span {
      display: block;
      width: 2em;
      height: 2em;
      line-height: 2em;
      text-align: center;
      border: 1px solid #ccc;
      position: absolute;
    }
    #puzzle span.next-move {
      background-color: #fcc;
      z-index: 2;
    }

append contents
  h1 スライドパズルソルバー
  p.lead.text-secondary 21世紀はパズルを機械に任せる時代パート2
  p スライドパズルを解いてくれるすごいやつ。パート1は<a href="/10/">10を作る</a>。
  form.mb-2
    .form-group
      textarea.form-control(type='text', name='board', style='font-family:monospace', rows='5')
        | &nbsp;1&nbsp;&nbsp;7&nbsp;&nbsp;2&nbsp;&nbsp;4
        | &nbsp;6&nbsp;&nbsp;0&nbsp;14&nbsp;&nbsp;3
        | 13&nbsp;10&nbsp;11&nbsp;&nbsp;8
        | &nbsp;5&nbsp;&nbsp;9&nbsp;15&nbsp;12
      small.form-text.text-muted 空白は0、それ以外は左上から1から順の番号が振られているとして配置する
    button.btn.btn-secondary(type='submit') さがす
  #result(style='display:none')
    #puzzle
    .mt-1
      .btn-group.btn-group-sm
        button.btn.btn-light(rel='next') つぎへ &raquo;
  #error(style='display:none')
    p.text-danger
  p.text-right
    a(href='https://twitter.com/azurlane_staff/status/938326681772630016', target='_blank') 元ネタ

append scripts
  script(src='scripts.coffee')
