extends ../common/_bootstrap-layout
include ../common/_vue

block append meta
  title Sentence Splitter

block append scripts
  script(src='scripts.js')

block append contents
  #vue(v-cloak)
    h1 Sentence Splitter
    form(v-on:submit.stop.prevent='submit')
      .form-group
        textarea.form-control(placeholder='分割したい文章を入力してください', v-model='text')
      .form-group
        label(for='#f-count') 文字数
        input#f-count.form-control(v-model='limit_config')
      .form-group
        label(for='#f-regex') 分割正規表現
        input#f-regex.form-control(v-model='regex_config')
      .form-group
        button.btn.btn-primary 分割
    div(v-if='blocks.length')
      h2 {{ blocks.length }}個に分割しました。
      form(v-on:submit.stop.prevent='copy', v-for='(block, i) in blocks')
        .form-group
          button.btn.btn-secondary {{ i + 1 }}番目をコピー
          textarea.form-control(name='text', rows='1', v-model='blocks[i]')
