extends ../common/_layout
include ../common/_jquery

append meta
  title 臨時SEだからハブられたので　一人で新都社運営座談会

append styles
  link(rel='stylesheet', href='styles.scss')

append scripts
  script(type='module', src='scripts.js')

append body
  .wrapper
    h1 臨時SEだからハブられたので　一人で新都社運営座談会
    .cb
    p
      a(href='http://neetsha.jp/company.php') 新都社会社案内
      | に名前が載っているにも関わらず、
      a(href='http://neetsha.in/14272') 八周年座談会
      sup ※1
      | に参加していない方がいる。今回はその中の一人、クラック氏に話を聞く。
    p.note
      sup ※1
      b 八周年座談会
      | 運営が行う正式な座談会。どう見ても船頭ばかりなので、船員であるプログラマ視点からは迷走しているように見える。これ書いている時点では、読んでないけど。
    p
      | 普通は運営に興味を持つことはほとんどないので、その末席に位置するクラック（Kluck）氏など知らない人の方が多いと思われる。彼を簡単に紹介すると、新都社で掌編小説を書き連ねた（現在は削除されている）傍ら、
      a(href='http://fastneet.org/') 最速新都
      sup ※2
      | を作り運営している人である。そのサポートサービスの運営を行なっていたため、新都社のシステム関係で協力することがあり、昨年11月、SE
      sup ※3
      | がほとんどいない状態の新都社に
      a(href='http://neetsha.jp/announce.php#id102') 正式に協力することになった
      | 、もっとも新しい運営である。
    p.note
      sup ※2
      b 最速新都
      | 新都社の非公式ランキングが始まりのサポートサイト。現在はお気に入り作品の更新チェックを行うマイリスト機能がメイン。裏サンデーやとなりのヤングジャンプなどをマイリストに入れれないのが最近抱えている大きな欠点だと開発者は思っている。
    p.note
      sup ※3
      b SE
      | 新都社におけるプログラミングの技能を持つ運営の呼称。一般的な呼称ではなく、会社組織風の呼称を愛用する新都社ならではの呼称である。だが、それゆえブラック臭しかしない。
    p そういう半人前であるためハブられたようであったため、一人座談会を用意した。
    hr
    p.host
      b ――
      | というわけで、クラックさんをお呼びしました。
    p.guest
      b Kluck（以下、クラ）
      | いや、何が「というわけで」なんですか！？
    p.host
      b ――
      | あれ？　趣旨説明しませんでしたっけ。
    p.guest
      b クラ
      | してません＞＜；
    p.host
      b ――
      | 新都社運営座談会にハブられたみたいなので、お一人様座談会をご用意させて頂きました！という感じです。
    p.guest
      b クラ
      | いやいやいや、別にハブられたわけじゃないから。
    p.host
      b ――
      | えー、本当に？
    p.guest
      b クラ
      | ちゃんと、招待されていましたし。
    p.host
      b ――
      | ふーん。まあ、いいや。でも、今回、せっかく企画してあげたんだから、ノッてくださいね！！！
    p.guest
      b クラ
      | これは酷い。
    p.host
      b ――
      | ハイハイハーイ、というわけで、クラックさん、まずは自己紹介からお願いします！
    p.guest
      b クラ
      | はいはい……はじめまして、クラックです。最速新都の管理人で、新都社では臨時SEをやっています。今は次期最速と称して、超絶というのを作っています。
    .cb
    p.host
      b ――
      | ありがとうございます！　ところで、
      a(href='http://d.hatena.ne.jp/kluck/20120418/1334759658') 裏サンデーの不正投票機作ったり
      | 、WCR
      sup ※4
      | でも不正投票やったり、また、2chなどでの不正投票祭りの参加や、ソーシャルゲームでのボット作成などをしていると聞いたのですが……
    p.note
      sup ※4
      b WCR
      a(href='http://www.webcomicranking.com/') Web Comic Ranking
      | 。新都社に登録すると登録することはできない漫画リンクサイト。
      a(href='http://www.webcomicranking.com/info/detail.php?infoId=81') これ
      | や
      a(href='http://www.webcomicranking.com/info/detail.php?infoId=90') これ
      | ということがありました。はい、ありました。
    p.guest
      b クラ
      | 裏サンデーのはあくまで無限投票が目的です。他のはノーコメントです。
    p.host
      b ――
      | でも、修正されたのでそれは不正だったのでは？
    .cb
    p.guest
      b クラ
      | 無限です。無限投票です。AKB総選挙と同じように、持てる者が大量投票
      sup ※5
      | できる仕組みが必要だと考えています。
    p.note
      sup ※5
      b 大量投票
      | 株主総会方式とも言う。一人一票ではなく一人複数票で熱意がより伝わる投票方式である。
      br
      a(href='https://twitter.com/taks_Zxim/status/311490694437027840') ゼクレアトルのC
      | への投票も株主総会方式を採用しても良いか、
      a(href='https://twitter.com/fastneet/status/311501445071527936') 問い合わせた
      | 。
    p.host
      b ――
      | なるほど。この人、だいぶ頭おかしいです。運営座談会からハブられるのもわかる気がします。
    p.guest
      b クラ
      | 悪かったですね。
    p.host
      b ――
      | 自己紹介でシステムの話しかしないからですよ。もっと、新都社の一員なんだから作家の部分出してくださいよ。
    .cb
    p.guest
      b クラ
      | ああ、すみません。と言っても、今は作品を消して「元」ですからね。文藝
      sup ※6
      | で掌編連作を書いており、あとすこしだけ四コマを描きました。
    p.note
      sup ※6
      b 文藝
      | 新都社でもっとも不人気なカテゴリ。今では、
      a(href='http://syosetu.com/') 小説家になろう
      | など、より適当な投稿サイトがあるように感じられるが、
      a(href='http://elbowroom.web.fc2.com/gazou3/cap/note-2010-10-05-04h48m32s84.jpg') 世間にはマゾヒストが多いため
      | 、無くなることはないだろう。
    p.host
      b ――
      | 今は創作活動的なことはやっていないんですか？
    p.guest
      b クラ
      | 一応、ちょこちょことは書いてますが、あまり形になっていないです。
    p.host
      b ――
      | しかし、聞いたところによれば、アンチ・ヘイト系統の二次創作SSを書いていて、その作品のファンに叩かれていたとか。
    p.guest
      b クラ
      | それは、それ。これは、これ。
    p.host
      b ――
      | ああ、そうですか。
    hr
    .cb
    p.host
      b ――
      | さて、本家座談会は2008年以降のネタという感じで、前回同様、長い期間の話を取り扱うようなので、クラックさんにも、ぜひ、新都社に行き着いた経緯から、過去の作品投稿、最速新都の誕生と運用、Neetel
      sup ※7
      | への技術協力、臨時SEへの採用、次期最速
      sup ※8
      | が作る未来と幅広く語って頂きたいと思っています。
    p.note
      sup ※7
      b Neetel
      | 新都社の漫画投稿システム。21世紀に入って10年が経ったこともあり、現代ではメンテ不可能と考えられるコードになっている。実装当時はそれが普通であったのに……。時代の流れは恐ろしい。
    p.note
      sup ※8
      b 次期最速
      a(href='http://yy21.kakiko.com/test/read.cgi/neetsha/1212803351/749') 最速スレの749
      | にあるように二年以上止まっていてアホちゃうか、というのが正しい理解。
    p.guest
      b クラ
      | あー、はい。
    p.host
      b ――
      | ただ、それだと運営座談会の流れで読みにきた人たちにとって、本当にどうでもいい内容だけになってしまうので、前半は本家座談会に寄せられた質問を「もっとも運営に近い運営ではない立場」という視点で回答していただこうと思います。
    p.guest
      b クラ
      | いや、そもそも、この内容自体が多分どうでもいいと思うよ。
    p.host
      b ――
      | そんなこと言わずに、やってください。
    p.guest
      b クラ
      | えー。
    p.host
      b ――
      | はい、では、最初の質問です！　どうしてハブられたんですか？
    p.guest
      b クラ
      | って、いきなり、そういうこと聞く？　つか、ハブられていないから！！！　座談会には誘われていましたから！！！
    p.host
      b ――
      | それは本当に誘われていたんですか？
    .cb
    p.guest
      b クラ
      | 本当ですッ！　帰るのが遅くて、開始に間に合わなかっただけですって。帰ってから「遅れて入ります」って、一言言って、ご飯食べて、風呂入って、
      a(href='http://www.nicovideo.jp/watch/sm19220627') 友人マリオ3
      sup ※9
      | を見てから、チャットに入ったら、もう終わっていただけです。
    p.note
      sup ※9
      b 友人マリオ
      a(href='http://dic.nicovideo.jp/a/%E5%8F%8B%E4%BA%BA%E3%83%9E%E3%83%AA%E3%82%AA') ニコニコ大百科が詳しい
      | 。
    p.host
      b ――
      | ……友人マリオ面白いですよね。
    p.guest
      b クラ
      | ですねー。第三作でも、作者の鬼畜っぷり、友神の神っぷりは語り継がれるべきものでした。しかし、この第三作は驚きが多かったですね。画像書き換え、音楽書き換えは色々な改造で行われているのを知っていましたが、まさかボスの書き換えが行われているとは思いもしませんでした。改造もここまでレベルが上がっているとは……。
    p.host
      b ――
      | 改造マリオとか詳しいんですか？
    p.guest
      b クラ
      | いえ、スーパーマリオワールド（SMW）の改造は詳しくないです。僕が改造マリオを知ったのは、スーパーマリオブラザーズ（SMB）の改造が流行っていた頃ですから。SMWの改造ツールであるLunar Magicを知ったのが、改造マリオから興味が薄れてしまった頃だったので。確か1.60が出たとかそういう頃だったはずです。
    p.host
      b ――
      | そうなんですか。しかし、SMBの改造ですか。
    p.guest
      b クラ
      | ええ。クリアできないことを楽しむ神風マリオとかが出てきた頃だったはずです。特に神風マリオを作っていた方は、その後はより遊びやすい作品にシフトしていったところが興味深かったです。
    p.host
      b ――
      | へぇ。
    p.guest
      b クラ
      | その方が作った神風ルイジとか、SMBなのに全ステージおばけ屋敷になっていて、あの敵キャラがテレサやテレサウルスに……ということで面白かった記憶があります。あー、あと、普通は最終ステージのクッパを倒すことがゲームクリアの条件ですが、これはステージ中の特殊なコインを獲得したかどうかがクリア条件になっていて、すごいなという記憶がありました。
    p.host
      b ――
      | はぁ。
    p.guest
      b クラ
      | そもそも、SMBの改造自体はそんなに難しくなかったですからね。改造ツールのSMB Utilityの完成度が相当に高くて、ステージを作り直すぐらいは簡単にできるようになっていました。ただ、当然、それを超える改造、例えば、画像とか音楽の書き換えはバイナリの直接編集が必要でした。いや、画像の書き換えは何か別のツールでいけたんだっけな。
    p.host
      b ――
      | ……。
    p.guest
      b クラ
      | あー、確か、ファミコンとかは圧縮とかされずに画像が入っているから、汎用のグラフィックエディタがあったような記憶があるな。ただ、基本的にレベルの高い改造を目指すとなると、バイナリを弄る必要があって、それはなかなか難しかったような記憶がありますね。
    p.host
      b ――
      | なるほど、それがクラックさんのプログラミングの始まりなんですね！
    p.guest
      b クラ
      | 違いますよ。
    p.host
      b ――
      | 違うのかよ！
    p.guest
      b クラ
      | 結局、バイナリ編集もとい機械語プログラミングはよくわからなかったので、挫折しました。それが要因ってわけじゃないけど、時期的にはそのあたりから改造することに興味が薄れていった感じですね。
    p.host
      b ――
      | ……てっきり、この話題、SE的技能の獲得とかそういうのに繋がるかと思っていましたよ！
    .cb
    p.guest
      b クラ
      | そんな、機械語がスラスラ書けるとかあるわけないじゃないですか。僕の初めてのプログラミング言語、BASIC
      sup ※10
      | ですよ？
    p.note
      sup ※10
      b BASIC
      | プログラミング言語の一つ。関係ないけど、UBASICの数値計算早くてヤバイ。
    p.host
      b ――
      | BASICですか。と言っても、最近の話だと考えると、BASIC風で有名なHSPとかですか？
    p.guest
      b クラ
      | いや、素のBASIC。行番号付いていてgotoで飛ぶ奴。
    p.host
      b ――
      | それ、だいぶ古いですよね？　そんな昔からプログラミングを？
    p.guest
      b クラ
      | いえいえ。始めたのは改造マリオの後ですよ。センター試験の数学に選択問題にあるじゃないですか。
    p.host
      b ――
      | ああ、なんかそういうのありましたね。
    p.guest
      b クラ
      | あのBASICです。数学の問題解くよりも早く楽にできますよ。
    p.host
      b ――
      | そうなんですか。
    p.guest
      b クラ
      | そうですよ。ソースコード書いてある通りに実行するだけですし。だから、僕はプログラミング、紙の上でしかやったことなかったですよ。
    p.host
      b ――
      | マジですか。
    p.guest
      b クラ
      | ですです。フローチャート読み込んでの、人間インタプリタですよ。と言っても、正直、もうできる気がしませんけど。
    p.host
      b ――
      | ……えーっと、ところで、だいぶ話が逸れてしまったのですが、結局、一回目の座談会はそれで参加できなかったようなのですが、そちらはその後どうなったんですか？
    .cb
    p.guest
      b クラ
      | ああ、えーっと初回（二月八日）の座談会は結局終わってしまっていて、でも、また第二回をやるっぽかったので、そのときに参加すればいいかなと思いました。ああ、そうそう。で、結局その日は早く寝ないといけなかったんですよ。翌日からドラクエRTA
      sup ※11
      | 見ないといけなかったので。
    p.note
      sup ※11
      b RTA
      | タイムアタックプレイのこと。ドラクエ1で言えば、いかに早く竜王を倒し、エンディングを見るかを競うような遊び方をする。クイックセーブなどを使って、理論上最速を目指すTASとは異なる。ニコニコ生放送等で中継しながら、行われることが最近は多いようだ。
    p.host
      b ――
      | ドラクエRTA！
      a(href='http://com.nicovideo.jp/community/co106941') 駅伝
      sup ※12
      | ですよね。今回で十回目でしたっけ。
    p.guest
      b クラ
      | はい！　ゾーマ様荒ぶりすぎ、高速イオナリセ、ムドードハマリ、ロブ乙ｗ、実機乙などなど、今回も色々なことがありましたね。
    p.note
      sup ※12
      b 駅伝
      | DQ1～6のタイムアタックを六人リレーで行い、チームで競争するイベント。ニコニコ生放送で行われている。
    p.host
      b ――
      | 全部見たんですか？
    p.guest
      b クラ
      | さすがに全部は見ていないです。3と6と5ですかね。あと2をちょっと。
    p.host
      b ――
      | やっぱり、それはやっているやつを、ですか？
    p.guest
      b クラ
      | 実は3と6はまだ全クリしていないｗ　いつか機会を見て、と思っているのですがなかなかチャンスが……。
    p.host
      b ――
      | チャンスの女神は後ろ剃っているという説があるので、自分で掴みに行かないと。
    p.guest
      b クラ
      | 何それｗｗｗ
    p.host
      b ――
      | 前髪しか掴むところがない、ってことです。
    p.guest
      b クラ
      | ｗｗｗ　4もやらないといけないし、ドラクエぐらいはちゃんとひと通りやりたいものです。
    p.host
      b ――
      | そんなDQ駅伝ですが、いつから見ているんですか？
    p.guest
      b クラ
      | 多分、第五回からですね。これの次が往路と復路あったはずなので。
    p.host
      b ――
      | へぇー。クラックさんはRTAもやるんですか？
    p.guest
      b クラ
      | やりませんよ。そこに割く時間的なリソースがないので……。
    p.host
      b ――
      | 脱線しているのも何なので、話を戻しましょう。二回目の座談会もあったけど、そちらはどうだったんですか？
    p.guest
      b クラ
      | 二回目（二月十五日）の座談会は、参加しようと思ったんですが、色々忙しくて無理でした。なんで土曜日じゃないんだろう。
    p.host
      b ――
      | やっぱり、ハブられているんじゃないんですか？
    p.guest
      b クラ
      | いや……そんな……まさか……。
    p.host
      b ――
      | それでは、質問の方に移りましょうか。
    p.guest
      b クラ
      | え。
    p.host
      b ――
      | この一人座談会では、第一部として、オリジナルの座談会に寄せられた質問を、運営に近いけど厳密には運営じゃなくて、別のサービスを作ろうとしている立場から答えて貰う感じです。同じ視点からだと面白くないので。
    p.guest
      b クラ
      | あー、はい。わかりました……。
    p.host
      b ――
      | では、早速行きましょう。
    hr
    h2 第一部：運営座談会質問への回答！
    p.host
      b ――
      | では、最初の質問を見て行きましょう。
      br
      | [1] 誰がお金払って維持してるの？
      br
      | まずは、お金の話ですね。
    p.guest
      b クラ
      | 新都社の運営が持ち寄っているそうですよ。僕は払っていないですけど。
    p.host
      b ――
      | 払っていないんですか？
    .cb
    p.guest
      b クラ
      | でも、最速新都のサーバー代とドメイン代は当然払っていますよ。超絶
      sup ※12
      | も完成したら、自腹でやるお。
    p.note
      sup ※12
      b 超絶
      | 次期最速。新都社、ワロス以外にも広げたマイリスト機能欲しい、と思って作っている。けど、上の補足にもあるように、それ二年以上前から言っている。
    p.host
      b ――
      | 広告載せるって聞きましたけど。
    p.guest
      b クラ
      | ええ。ただ、広告代稼ぎたいというよりは、ニコニコ市場
      sup ※13
      | 的なの作りたいだけですけどねｗ　本出せた作者の作品にその本貼ったりしたいじゃん。
    p.note
      sup ※13
      b ニコニコ市場
      | ユーザ間共有タグと同じ思想のニコニコ動画での機能。今、ざーっとドワンゴの特許漁ったけど、これが守られてはいなさそうだったので、真似ても大丈夫なのかな……？
    p.host
      b ――
      | 嫌いな人も多いと思いますよ……。
    p.guest
      b クラ
      | 僕がやりたいので付けたいんです！
      a(href='http://www.amazon.co.jp/dp/4776795728') ロドみの耳はロバの耳
      | 、もうちょっと売れてほしいなあ。
    p.host
      b ――
      | そうですか。でも、広告費、ポケットに入れるのが目的でしょ。
    p.guest
      b クラ
      | そんな儲からねーよｗ　サーバー代出るかどうかも微妙だと思うし、仮にサーバー代以上儲かったら、もっと有意義なことしてやるわ。
    p.host
      b ――
      | はいはい、わかりましたよ。そういうことにしておきます。次はずいぶんと個人的な質問ですね。
      br
      | [2] 好きな漫画教えてくだしあ
    p.guest
      b クラ
      | ヨルムンガンド。
      a(href='http://www.jormungand.tv/') アニメ
      | も楽しめた。それと沈黙の艦隊も好きだったなあ。
    p.host
      b ――
      | 戦争漫画好きなんですね。
    p.guest
      b クラ
      | 戦争漫画面白い。もっと増えればいいのに。
    p.host
      b ――
      | 新都社なんだから、描けばいいじゃないですか。
    p.guest
      b クラ
      | もう描くのは厳しいので……。
    p.host
      b ――
      | じゃあ、昔やっていた戦争漫画みたいに原作提供すればいいじゃないですか。作画見つけるぐらいできるでしょ。
    p.guest
      b クラ
      | まあ、それは……頑張ります……。
    p.host
      b ――
      | というか、これ、新都社の話ですよ！　新都社の作品挙げてくださいよ！　運営の癖に作品読んでいない有末さんとは違うところを見せつけてやってくださいよ！
    p.guest
      b クラ
      | 最後の一言は余計だと思うけど、まあいいか。
    p.host
      b ――
      | そうですね。で、何が上がりますか。
    p.guest
      b クラ
      | 一つ目は
      a(href='http://neetsha.in/9722') 白の魔術師
      | 。戦争やっているだけでも高評価なのに、独自言語という要素で昇竜拳ですよ。
    p.host
      b ――
      | 意味がわかりませんが、わかりました。他に好きな戦争漫画はありますか。
    p.guest
      b クラ
      | 更新が無い。辛い。
    p.host
      b ――
      | 戦争漫画待ちは大変そうですね。
    p.guest
      b クラ
      | なので、他のを上げると、
      a(href='http://neetsha.in/13064') 本当にあった後藤健二の話
      | は面白いですね。営業ヤバイ。僕には無理。
    p.host
      b ――
      | あれが普通の社会人というものですよ。
    p.guest
      b クラ
      | そんな普通いらないです。あと、
      a(href='http://neetsha.in/14174') つうすとろーく/つうりんぐ
      | が面白いですね。
    p.host
      b ――
      | それは戦争漫画ですか？
    p.guest
      b クラ
      | 違いますよ。ほのぼの日常系ですよ。ちょっと、ファンタジーとバイクが入っているだけで、日常です。
    p.host
      b ――
      | その説明間違っているような気がするんですが……この作品が好きっていうことはバイク乗るんですか？
    p.guest
      b クラ
      | 乗りませんよ。免許持っていませんし。
    p.host
      b ――
      | そうですか。えーっと、あと、杉村さんの作品については……まあ、あとででいいか。では、次のに行きます。
      br
      | [3] ONE先生って、なんで作品削除してったんですか？読みたいです。
    p.guest
      b クラ
      a(href='http://urasunday.com/mobupsycho100/') 裏サンデー
      | と
      a(href='http://tonarinoyj.jp/manga/onepanman/') となりのヤングジャンプ
      | で読めるので、そっちで僕は読んでます。
    p.host
      b ――
      | まあ、そうですよね。
    p.guest
      b クラ
      | 更新予告的な意味で、裏サンはいいんだけど、となヤンは残念ですよね。
    p.host
      b ――
      | そうですね。ワンパンマンとか予告通りに来ていませんからね。
    p.guest
      b クラ
      | 最近はマシになったのかな。あれこそ、超絶で更新チェックしたいですね。読みそびれたら、非公開になりますし。
    p.host
      b ――
      | 買えばいいのでは。
    p.guest
      b クラ
      | Kindle版出たら買います。
    p.host
      b ――
      | なんか、まだ、三つしか終わっていないので、巻きで行きます。
      br
      | [4] アフィとか解禁にしないの？
    p.guest
      b クラ
      | え、これ、僕は答えられないよ。
    p.host
      b ――
      | ハブられてますもんねー。
    p.guest
      b クラ
      | ……個人的にはポケットマネーで運営できるかぎりは、そういうの無しで運営してもいいんじゃないのかと思っていますけどね。
    p.host
      b ――
      | 広告付けようとしている人が何言ってんの？
    p.guest
      b クラ
      | ……正直、お金の問題はあんまり無いように思えます。どっちかというとSEいない問題が大きすぎる感じかと……。
    p.host
      b ――
      | 次のは、今後の運営に関するものですね。
      br
      | [5] 利用者数を増やす工夫で考えていることはなんですか？
    p.guest
      b クラ
      | 臨時なので特に考えていません。ただ、有末さんは色々考えているみたいですけどね。
    p.host
      b ――
      | へぇ。
    p.guest
      b クラ
      | 多分、本家座談会の方で色々回答するんじゃないのかな。ただ、SEがいないので誰も実装とかしてくれないけど。
    p.host
      b ――
      | ……なるほど。
    p.guest
      b クラ
      | せっかくだから言っておくと、最速も今後できる予定の超絶でも利用者を増やす努力はしないつもり。サーバがパンクすると困る。
    p.host
      b ――
      | 意外ですね。
    p.guest
      b クラ
      | 利用者の一人である自分が閲覧できなくなったら困る。
    p.host
      b ――
      | じゃあ、なんで公開しているんですか？
    p.guest
      b クラ
      | マイリス数という指標が役に立つから。そういう意味では、マイリス数が役に立つ程度に利用者がいれば十分かなー。
    p.host
      b ――
      | 身勝手ですね。
    p.guest
      b クラ
      | 使えない道具よりも使える道具の方が良い。というわけで、今後は安定運用させたいのだけど、最速はそれが厳しい……。
    p.host
      b ――
      | そうですか。はい、次行きましょう。
      br
      | [6] 運営って今誰がやってるの、３人くらいしか知らない
      br
      | ほら、やっぱり、最初に自己紹介させた意味がありますね！　運営は知られていないんですよ！
    p.guest
      b クラ
      | 空気の成分知らなくても、地球には住める。
    p.host
      b ――
      | 酷い例えですね。
    p.guest
      b クラ
      | でも、無いと困る、そういう存在だといいですね。
    p.host
      b ――
      | 詩人ですね。
    p.guest
      b クラ
      | はい。
    p.host
      b ――
      | 次の質問も最初に引き続きお金に関するものですね。
      br
      | [7] 有志に無償提供でエロ同人誌描いてもらってそれを運営費にまわせばいいのでは？
      br
      | 皆さん、お金のことを随分気にかけてくださっているようですね。
    p.guest
      b クラ
      | 先ほども答えたように、金が無くて困っているわけじゃないって聞いています。どっちかというと作業してくれる労力が足りない。
    p.host
      b ――
      | クラックさん、お金受け取って作業したらいいのでは？
    p.guest
      b クラ
      | イヤですよ。お金貰うってことは、相応の正当な対価で返さないといけないってことじゃないですか。そんな一生懸命、この古いPHP見たくない。月50万……なら、まあ、やろうかなあ……。
    p.host
      b ――
      | 微妙にリアルですね。
    p.guest
      b クラ
      | じゃあ、月500万で。
    p.host
      b ――
      | （ ﾟдﾟ）
    p.guest
      b クラ
      | （ﾟдﾟ）＜そこのお前、メインSEやったって。
    p.host
      b ――
      | 誰もやらないでしょうね。
    p.guest
      b クラ
      | そうですね。そうじゃなかったら、今困っていないはずなので。
    p.host
      b ――
      | ですね。次は……なんだこれ。
      br
      | [8] 有志が有末に見えた
    p.guest
      b クラ
      | 言われたら、僕も見えました。
    p.host
      b ――
      | クラックさんは有末さんとはうまくやっているんでしたっけ。
    .cb
    p.guest
      b クラ
      | そうですね。寿司
      sup ※14
      | おごってくれるらしいので。
    p.note
      sup ※14
      b 寿司
      | 回る奴は寿司じゃなくて回転寿司って言うんですよ。寿司楽しみです。
    p.host
      b ――
      | なんか、こう、もうちょっと人間性を擁護してあげたらどうですか？
    p.guest
      b クラ
      | イヤですよ。聞くところによれば、イケメンらしいじゃないですか。そんなヤツ、殴って顔面変形させた上で、寿司おごってもらってトントンですよ。
    p.host
      b ――
      | 確かに一理ありますね。
    p.guest
      b クラ
      | あと、PHP覚えて欲しい。
    p.host
      b ――
      | 正論ですね。次は随分と遠慮がちな質問です。
      br
      | [9] 運営上公開しちゃマズイ質問には答えなくてもいいので・・・今後新都社をどういう方向で運営していくつもりなんでしょうか？
    p.guest
      b クラ
      | 僕は知らん。知らんけど、無くならないよう続けていくっていうのが方針だと僕は信じている。
    p.host
      b ――
      | ここは本家座談会での回答にも期待ですね。
      br
      | [10] クエストは今後どうなるのでしょうか。また今後していきたいイベント（祭り等）はありますか？
      br
      | これはOutsideな話でいいんですかね。
    p.guest
      b クラ
      | 僕はこれ詳しくないし、実はあんまり興味ない。
    p.host
      b ――
      | そうなんですか。
    p.guest
      b クラ
      | 興味あったら、最速でやっている。
    p.host
      b ――
      | なるほど。
    p.guest
      b クラ
      | 個人的にはもっと色々改良できると思う。サムネから作品レベル推測したりとか色々。
    p.host
      b ――
      | 不正投票機とか作らずに、そういう有意義なことに時間使ったほうがいいと思いました。次の質問も自由な感じですね。
      br
      | [11] そうだったのか！のところだけジャギジャギなのですがそれは
    p.guest
      b クラ
      | 有末さんの画像加工技術が低いからでは。
    p.host
      b ――
      | 身も蓋もない。
    p.guest
      b クラ
      | だって、事実でしょう。でも、別に困らないしいいのでは。
    p.host
      b ――
      | そうですね。はい、次です。
      br
      | [12] 裏サンデーについて運営陣は恨んでますか？
    p.guest
      b クラ
      | 僕は特に。面白いし、ちゃんと更新来るので、むしろ評価していますね。
    p.host
      b ――
      | え？　でも、なんかすごい喧嘩腰じゃないですか？
    .cb
    p.guest
      b クラ
      | 愛の反対は無関心、って
      a(href='http://www.nicovideo.jp/watch/sm8922420') 歌
      sup ※15
      | にあるじゃないですか。
    p.note
      sup ※15
      b 歌
      | 初音ミクの楽曲、タダで聞けるのが素晴らしい。裏サンデーもタダで読めるのが素晴らしい。タダ素晴らしい。
      a(href='http://www.imouto-okan.jp/') 僕の妹は「大阪おかん」
      | でその素晴らしさが語られているけど、ニコ動で見るのもう有料やねん……。
    p.host
      b ――
      | その歌では、好きの反対は大嫌いですよ。
    p.guest
      b クラ
      | あれですよ、興味なかったら言及しない、ってことです。あと、文句言っているのはサーバが遅いことで、中身のことじゃないし。
    p.host
      b ――
      | 中身のこともなんか言っていたような気がしますけど。
    p.guest
      b クラ
      | こまけぇこたぁいいんだよ!!（AA略）
    p.host
      b ――
      | 意味不明ですね。次の質問に移ります。
      br
      | [13] なんでONE追い出したん？
    p.guest
      b クラ
      | むしろ、出て行ったのでは、と思っていたのだけど、違うのかな。当時、運営とかじゃなかったから、わからないなあ。
    p.host
      b ――
      | 運営になったはずの今回もハブられてますから、わかるはずありませんよねー。
      br
      | [14] sageコメ改善等コメント欄をもっと自由に使われるシステムとか考えてますか？
      br
      | これは機能の提案ですね。SEの一人であるクラックさんとしては、どうでしょうか？
    p.guest
      b クラ
      | 僕は考えていないです。ただ無いと予想しています。というのも、昔デフォルト値を入れて押すだけで投稿可能、という拍手方式をやった方は運営が苦言を呈していた覚えがあるからです。
    p.host
      b ――
      | 心燃える漫画での杉村変態蔵さんでしたっけ。
    p.guest
      b クラ
      | そうだったような気がします。杉村さんの発想はあの頃から面白かったってことですね。
    .cb
    p.host
      b ――
      | 裏サンデーの投稿
      sup ※16
      | でもなんかやるらしいですね。
    p.guest
      b クラ
      | そのようですね。僕は期待しています。
    p.note
      sup ※16
      b 裏サンデーの投稿
      | 第一回の裏サンデートーナメントのこと。「16歳女子高生です。お兄ちゃんの漫画がトナメで優勝したらおっぱいうpするので投票お願いします」スレを立てるなどの案を出していたが、結局、何もしなかった模様。
    p.host
      b ――
      | 次の質問ですが、なんだこれ……。
      br
      | [15] 好きな動物はなんですか？　僕は犬です
    p.guest
      b クラ
      | これ、一般的な秘密の質問がバレるかもしれないので、答えるの難しいですね。
    p.host
      b ――
      | ええっ。
    .cb
    p.guest
      b クラ
      | おそらくソーシャルエンジニアリング
      sup ※17
      | でしょう（棒）。
    p.note
      sup ※17
      b ソーシャル・エンジニアリング
      | 心理的に騙して、秘密情報を盗む技法のこと。
      a(href='http://ja.wikipedia.org/wiki/%E3%82%A8%E3%83%AA%E3%82%A288') お酒飲まされて、うっかり傭兵の募集用紙にサインする
      | のも広義で含みそうな気がした。
    p.host
      b ――
      | 無いと思います。ところで、最速の秘密の質問、面白いですよね。初恋の人の名前とか黒歴史のタイトルとか。
    p.guest
      b クラ
      | 作ったのは昔ですけど、あの当時、一般的な秘密の質問は秘密の質問として機能し得ないんじゃないのかと思って作った感じですね。母親の旧姓とか調べられる可能性高いだろ、ってね。
    p.host
      b ――
      | ほー。
    p.guest
      b クラ
      | 最近だと質問も自由入力欄が流行っているようですが、あれだと適当な質問を入力したり、答えが類推可能な質問が入力されたりする危険性があると聞いていたんですよね。で、質問はこちらから提供しないといけない、で、かつ、より安全な質問を目指したいなあ、と思った次第です。
    p.host
      b ――
      | なるほど。なんか真面目なこじつけがあるんですね。
    p.guest
      b クラ
      | 超絶からはなくなりますけどね。
    p.host
      b ――
      | そうなんですか。
    .cb
    p.guest
      b クラ
      | パスワードとかの情報をあんなアンセキュアな感じに置いとくのは危険なので、Twitterログイン
      sup ※18
      | を使おうと思っています。
    p.note
      sup ※18
      b Twitterログイン
      a(href='http://www.appbank.net/2012/10/14/iphone-news/490680.php') このへんを参照
      | 。大雑把に言えば、外部のサイトから、Twitterに飛んで、Twitterで認証する仕組み。細かくは全然違うけど。
    p.host
      b ――
      | あれもメリット・デメリットあると思いますが、どうなんでしょう。
    p.guest
      b クラ
      | それでもメリットの方が上回っていると思います。というのも、超絶のような弱小サービスにパスワードを預けさせるのは、やはり危険度が高いです。特にセキュリティ意識が希薄な利用者は、一つ同じパスワードを使い回していることが多いため、大手ウェブサービスがどんなにセキュリティを高めていても、他のセキュリティが追いついていないところからパスワードが漏れて、乗っ取られる要因になったりしかねません。
    p.host
      b ――
      | それは最速や超絶がパスワードを漏らすからということでしょうか？
    p.guest
      b クラ
      | 違います。それをやったら不正アクセス禁止法に引っかかります。ので、最速では現在、パスワードは非可逆なハッシュで保存しています。これは一般に安全とされる方法です。
    p.host
      b ――
      | なら、安心しても良いのでしょうか？
    p.guest
      b クラ
      | というわけにもいきません。現在は通信経路の危険性が高まってきています。そのため、ログインが関わるサービスはHTTPではなくHTTPSで、全体が厳しければ、認証の部分だけでもHTTPSにする必要があります。しかし、このHTTPSの証明書が非常に高くて、サーバ代の10倍ぐらいかかります。そのため、HTTPでのサービス提供となってしまっています。そのため、きちんとセキュリティ対策を取ったサービスと比較して、攻撃者がログインしようとしているユーザからパスワードを抜き取ることは容易くなっています。
    p.host
      b ――
      | なるほど。では、なぜTwitterログインにするのでしょうか？
    p.guest
      b クラ
      | やはり、HTTPでしか回線を提供できないサービスにとっては認証がより安全になるからです。というのも、Twitterログインは、認証をTwitterで行います。そのため、パスワードを入力するのはTwitterに向けてで、それもHTTPSで行われているため、暗号が破られなければパスワードは漏れません。また、そのパスワードはこのTwitterログインを利用するサービスには通知されないため、パスワードそのものが漏れる心配が無いのです。
    p.host
      b ――
      | しかし、その話を聞くとアカウント乗っ取りとかは発生する可能性が残っているように思えますが。
    p.guest
      b クラ
      | はい、同じ程度の危険性でアカウントの乗っ取りは発生すると思われます。しかし、パスワードをHTTPでやり取りするのに比べたら、他への被害範囲が少ないという意味で、安全となっています。
    p.host
      b ――
      | なるほど。よくわからなかったのですが、とにかく安全になるということですね。
    p.guest
      b クラ
      | ……そうですね。それでいいです。
    p.host
      b ――
      | では、次の質問に行きましょうか。
    p.guest
      b クラ
      | ……はい。
    p.host
      b ――
      | [16] いまなにやってるんですかァ～～？？
    p.guest
      b クラ
      | 一人さびしくこれ書いています。
    p.host
      b ――
      | ハブ。さて、次の質問です。
      br
      | [17] 新都社wikiが放置されっぱなしですが、今後もそのままなんでしょうか？
    .cb
    p.guest
      b クラ
      | Wiki
      sup ※19
      | って誰でも書けるので、放置されていると気づいたら、書いたら良いと思います。書く権限がシステム的に取得できないとかあれば、運営に言って下しあ。「誰か親切な人が丁寧に書いてくれる」なんてことは、ありえないので、気づいた id:ybBsyWJ1P さんが書いてくれると助かります！
    p.note
      sup ※19
      b Wiki
      | 誰でも編集できる記事投稿システムのこと。誰でも編集できるところがWikiの精神。重要。
    p.host
      b ――
      | 楽しいWikiライフ頑張ってください！　書き放題ですよ！　とのことでした。
    p.guest
      b クラ
      | いや、冗談抜きに書けば良いと思います。僕も昔書きまくったので。
    p.host
      b ――
      | そうなんですか。
    p.guest
      b クラ
      | 何年も前ですけど、文藝をちょっとだけ充実させたりとかもしましたよ。経験者的にはとにかく書けばいいと思います！　誰かが書いてくれることを期待してはいけないんです！
    p.host
      b ――
      | なるほど、一人一人の力で新都社も成り立つんですね。
    p.guest
      b クラ
      | ですね。
    .cb
    p.host
      b ――
      | では、次の質問です。
      br
      | [18] 商業系のWEBマンガサイト（「裏サンデー」や「となりのヤングジャンプ」）とは、何か交流などがあるんでしょうか？
      br
      | やはり、去年、雨後の筍
      sup ※20
      | のように次々と出現した商業ウェブ漫画サイトの質問が多いですね。で、これはどうなんでしょう。
    p.guest
      b クラ
      | 僕は知らないけど、有末さんがそういう交流持っているように見えませんね。
    p.note
      sup ※20
      b 筍
      | きのこと戦っているようですが、僕はカプリコが好きです。
    p.host
      b ――
      | クラックさんは持っていないんですか？
    p.guest
      b クラ
      | 持っているわけないじゃないですか。
    p.host
      b ――
      | そりゃ、そうですよね。はい、次。
      br
      | [20] リアル優先するとして新都社にかけられる時間って一週間どのぐらいですか？
    p.guest
      b クラ
      | 僕はリアルを優先したらゼロです。だから、大体どっかでリアルを犠牲にしてやっています。
    p.host
      b ――
      | 休日無いんですか？
    p.guest
      b クラ
      | 休日は勉強しないといけないので、平日の深夜とか使っています。
    p.host
      b ――
      | まあ、でも、作業は進めてくださいね＾＾
    p.guest
      b クラ
      | 優先順位を守って頑張ろうと思っています。
    p.host
      b ――
      | [21] 聖新都学院Ｆの感想お願いします
    p.guest
      b クラ
      | 読んでいないです。すみません。
    p.host
      b ――
      | 読めよ＾＾
    p.guest
      b クラ
      a(href='http://neetsha.in/12753') はい
      | 。
    p.host
      b ――
      | どうでした？
    p.guest
      b クラ
      | クソワロタｗｗｗｗｗ　やっぱり、杉村さん最高だｗｗｗｗｗ
    p.host
      b ――
      | ですね。こんな素晴らしい方が連載しているのに、運営が取り締まろうというのは問題ですよね！
    p.guest
      b クラ
      | そうですね！　最高です！
    p.host
      b ――
      | 洗脳も終わったので、次に進みます。
      br
      | [22] 容量増やさないの？
    p.guest
      b クラ
      | 増やしてどうするの？増やしたらどうなるの？って質問に運営が答えれたら、してもよいのでは、と思っているけど、臨時だから僕ができる部分ではなかった。
    p.host
      b ――
      | 増やしたら、使いやすくなるから、アクセス増えると思うけど？
    p.guest
      b クラ
      | アクセス増やしてどうするの？　このSEがいない状況でアクセス増やしてどうするの？　死ぬの？
    p.host
      b ――
      a(href='http://livedoor.4.blogimg.jp/mudainodqnment/imgs/9/d/9de471be.jpg') ポ完
      | 。
    p.guest
      b クラ
      | よし、じゃあ、これで終わりましょうか。
    p.host
      b ――
      | いやいや、まだまだ、座談会の議題残っていますから！
      br
      | [23] SE雇ったのにあんまシステム変わってないきがするのですが！！！
    p.guest
      b クラ
      | システムの変更を部屋の模様替えに例えると、Neetelって汚部屋の特殊清掃に来たって段階なので、模様替えどころではない、というのが現状です。あと、僕はあくまで臨時なので、そんなにシステムを変えて欲しいなら、メインSEを連れてきてください。僕からも強くお願いします。もう、PHPは書きたくないんです。
    p.host
      b ――
      | 特殊清掃ってすごい例えですね。
    p.guest
      b クラ
      | 実際の特殊清掃はもっと重いですよね……そのお仕事の方のブログとか。
    p.host
      b ――
      | しかし、そんなに酷いんですか？
    p.guest
      b クラ
      | 酷いです。テスト無いのは譲歩するとしても、MVCごっちゃで辛い。特にViewが分離していないので、デザインを外に丸投げするのも難しい。
    p.host
      b ――
      | でも、責任持って頑張って死んでくださいね＾ｑ＾　次の質問行きましょう。
      br
      | [24] 今の運営メンバーに「名前変えたけど昔も別名義で運営やってた」みたいな人はいる？
    p.guest
      b クラ
      | 僕はごく最近の半人前メンバーなので知らないです。
    p.host
      b ――
      | Kluckさんは最初の頃名前違いましたよね。
    p.guest
      b クラ
      | Σ（ﾟДﾟ）
    p.host
      b ――
      | 戦争漫画で原作やっていたときは作画の人と合わせた名前使っていたはずですよね。
    p.guest
      b クラ
      | ……ですね。だいぶ昔の話です。
    p.host
      b ――
      | ほら、昔やっていたんだから、今からでも戦争漫画提供できるでしょ！
    p.guest
      b クラ
      | えー。
    p.host
      b ――
      | 期待しておきます。次はまたコメントに関するものですね。
      br
      | [25] コメントの文字数増やしてくれませんか？
    p.guest
      b クラ
      | システム的に言えば、増やすのは困難なので増やせません。しかし、それでもTwitterよりも長い字数が投稿できるはずなので、別にほとんど困らないのでは。そんなに長いの書きたいなら、レビューブログとか作って書けば良いですし、いっそ、熱い感想付きのFAを贈れば、より喜ばれると思います！
    p.host
      b ――
      | え……なんで、FA描くって話になるんですか？
    p.guest
      b クラ
      | 長いコメント書きたいほどの熱い思いはFA描くのに変換可能だからです！
    p.host
      b ――
      | なるほど、わかりません。次に進みます。
      br
      | [26] 次に商業に引き抜かれそうな漫画家はズバリ誰？
    p.guest
      b クラ
      | よくわからないけど、新都社以外にも活動のあるランキングの上位を見ておけばいいような気がします。ただ、文藝から商業はランキングと関係なく行っている感じがするので、漫画も、もしかしたらランキングとか関係なくプロになっている人がちょこちょこいるかもしれませんね。
    p.host
      b ――
      | あれ、オナマスの人以外に商業行った人っているんですか？
    p.guest
      b クラ
      | なんか結構いますよ。オナマスの商業化前から、何人か商業行って、新都社からひっそりと消えて行きましたし。
    p.host
      b ――
      | そうなんですか？
    p.guest
      b クラ
      | そのせいでコメント数とかとの相関関係が全く無いように見えて仕方ないです。まあ、売れるだろうから読むとかよりも、好きなのを楽しんで読んでいたら、プロになりましたぐらいの捉え方のほうが楽しいと思いますよ！　というわけで、気になった話はマイリスにどんどん放り込んで購読しよう！
    p.host
      b ――
      | そう繋げるのか……。
      br
      | [27] マトイさんが運営を辞める宣言をした後もNEETSHA、mjskなど名前を変えて運営業務に関わっていた理由は何ですか？また有末名義で復帰した時は「会長」だったのにその後素知らぬ顔で編集長に収まっていた理由は？
    p.guest
      b クラ
      | 有末さん、そういう適当な人だから仕方ないのでは。
    p.host
      b ――
      | 酷い言い方ですね。
    p.guest
      b クラ
      | いや、そういう適当ぐらいがいいんじゃないんですか？　細かいこと気にする感じだったら、こういうことやってなさそうだし。
    p.host
      b ――
      | そうですかね……。
    p.guest
      b クラ
      | だから、有末さんは会っていきなりグーパンで殴られても気にしないでくださいね！
    p.host
      b ――
      | うわぁ……。次です。
      br
      | [28] カウンターによると2010年10月のピークの1/3になったアクセスについてはどうお考えですか？　振興策はありますか？
    p.guest
      b クラ
      | 今、アクセス数が三倍になったら、SEいないのにどうするのか、という問題の方が大きいと思います。なお、捌ききれなくて、テンポリオ多発で、SEの立候補もなくて、僕が対応しないといけなくなったら、昔のニコニコ動画みたいに時間帯ごとアクセスを導入して、対応します。
    p.host
      b ――
      | はー。しかし、こんなコメントがありましたよ。
      br
      | [35] 2010年のカウンターの突然の伸びはバグだったと思うのですが、今後
      | 28のように数字だけを見て勘違いを起こす人が出てこないように運営から公式な回答をお願いします。
    p.guest
      b クラ
      | あら、あれ、バグなんですか。
    p.host
      b ――
      | 知らなかったんですか？
    p.guest
      b クラ
      | 知るわけ無いじゃないですか。アクセス数とか特に興味ないのに。
    p.host
      b ――
      | そうでしたか。
    p.guest
      b クラ
      | 多分、本家座談会の方で何か対応取ってくれるでしょうね。
    p.host
      b ――
      | それに期待しましょう。
      br
      | [29] 今も鯖代はRKなの？鯖代に関する予定とか目標があれば。あと有末の処分はガチの左遷なのか、事件の処理のための形式上のものなのか
    p.guest
      b クラ
      | この質問は本家運営座談会に丸投げで。
    p.host
      b ――
      | 丸投げｷﾀｰ。
    p.guest
      b クラ
      | だって、最速運営から見たら、新都運営のお家騒動とかどうでもいいじゃん。
    p.host
      b ――
      | ぼっちの遠吠えですね。
    p.guest
      b クラ
      | でも、鯖代は今の運営の持ち寄りで出せるみたいだし、むしろ、SEがどうにもなっていないので、有末さんの処分はPHPを覚えること、ぐらいで勘弁してあげてほしい。
    p.host
      b ――
      | ははは。
    p.guest
      b クラ
      | マジでPHP覚えろや。
    p.host
      b ――
      | 有末さん、殴られないためにも、PHP覚えてくださいねー。では、次です。
      br
      | [30] まさか「たいした質問ねーな」とか思ってませんか？
    p.guest
      b クラ
      | そんなことないです。一人で答えると数が多くて辛いです。
    p.host
      b ――
      | これでもまだ半分に到達していないんですよね。
    p.guest
      b クラ
      | 辛い。
    p.host
      b ――
      | 頑張って下さい。次です。
      br
      | [31] 本スレが死んでるのでチャットで交流したいのですが今のは住民に専有されています。新しいの置いたりしてくれませんか
    p.guest
      b クラ
      | 新しいチャット勝手に作って、編集部にURL貼ったら良いのでは、と思いました。それで使われていることが確認されれば、なし崩し的に運営がメニューに入れるのではないかと思います。
    p.host
      b ――
      | 最速もそうですよね。
    p.guest
      b クラ
      | 勝手に作って、勝手に使われて、気づけばメニュー入りですね。
    p.host
      b ――
      | 中の人も臨時ですが運営に入りましたしね。
    p.guest
      b クラ
      | 確かに。
    p.host
      b ――
      | 座談会ハブられていますけど。
    p.guest
      b クラ
      | 気にしていません(´；ω；｀)
    p.host
      b ――
      | ハハハ。次は機能の提案のようですね。
      br
      | [32] 打ち切り制度導入しようぜ
    p.guest
      b クラ
      | 僕は実装しませんけど、面白いアイディアですね。
    p.host
      b ――
      | それ、興味ないって言っているように見えるのですが。
    p.guest
      b クラ
      | うーん、だって、意味ない気がするし。多分、面白くなかったら、更新できなくなるとかそういうことなんだろうけどさ、それ多分、再度新規登録されたりするようになる気がするし、それに現状、面白くない作品よりもそもそも読まれていない作品の方が多い気がするので、そういう人気作家が適用されないと面白くない仕組みとかいらないと思う。
    p.host
      b ――
      | そうですか。
    p.guest
      b クラ
      | あと、実装したくないし。
    p.host
      b ――
      | あ、はい。わかりました。
      br
      | [33] 結局4月のアレってなんだったの？運営は新都社の為にやったみたいなスタンスだったけど見事なお家騒動だったし
      br
      | お家騒動もいくつか質問上がってきていますね。
    p.guest
      b クラ
      | 四月忙しくて、新都社見ていなかったので、よくわからない。うん。よくわからないってことにしておいて。この質問も本家運営座談会に丸投げしたいし。
    p.host
      b ――
      | 最速運営適当ですね。
    p.guest
      b クラ
      | そうですね。
    p.host
      b ――
      | [34] koreha
    p.guest
      b クラ
      | hidoi
    p.host
      b ――
      | なんか投げやりですね。
    p.guest
      b クラ
      | そっちの発言も、ひたすら質問コピペで投げやりだと思います。
    p.host
      b ――
      | 質問回答編ですから、仕方ないじゃないですか！　トークは後編を待ってください！　というわけで、今度は複数のコメントをまとめます。
      br
      | [36] 「機能要望リクエスト」が有名無実になっているんだけど……
      br
      | [37]
      | 36 それ俺もずっと思ってた。搭載して欲しい新機能とか結構あるのに。
    p.guest
      b クラ
      | 実装する人がいないので、仕方ないと思います。
    p.host
      b ――
      | 機能要望リクエストは実際に見ましたか？
    p.guest
      b クラ
      | ジョークがあると作る側が相手にする気が失せる感じですね。押すと漫画が更新されるボタン、とか。
    p.host
      b ――
      | え、面白いじゃないですか。
    p.guest
      b クラ
      | 見てる方はそうですよ。でも、作る側は上から順に見るのはいいけど、優先順位付けしたり、このジョークがたくさん票が入っている理由から代替案を考えたりしないといけないので、正直キツイです。
    p.host
      b ――
      | えー、でも、これなくなったら、つまんないよ。
    p.guest
      b クラ
      | そういう意味では、実装する前に何を作るのか、どのくらいの時間でできそうか、そういうタスクを管理する人が一枚入って欲しいところですね。
    p.host
      b ――
      | なるほど、でも、一応、これの優先順位付けとかやられているって聞きますけど。
    p.guest
      b クラ
      | うん。でも、臨時だから、もっと優先順位が高い違うことをやっているわ。
    p.host
      b ――
      | これは酷い。こっちも優先順位高いはずなのに。
    p.guest
      b クラ
      | ただ、基本的に最速でできることは最速使って欲しいと思っていますね。
    p.host
      b ――
      | もっと酷い。
    p.guest
      b クラ
      | 超絶になったらもっとメンテが簡単になるから、機能もどんどん増やせる予定！
    p.host
      b ――
      | 何のために臨時SEになったの……。
    .cb
    p.guest
      b クラ
      | 左メニューのフレーム化
      sup ※21
      | 。これだけは終わらせる。
    p.note
      sup ※21
      b 左メニューのフレーム化
      | 僕には必要。使っているマシンのディスプレイ、 1024×600だったりするので、縦幅狭める行為はやめて欲しい。
    p.host
      b ――
      | なるほど。それはやって欲しいですね。
    p.guest
      b クラ
      | ただ、そういうデザイン変更するには新都社のコードがひどすぎるので（ロジックとビューが分離していないなど）、内部の処理の切り分けを行なっている感じです。
    p.host
      b ――
      | へー。どんくらいで終わるの？
    p.guest
      b クラ
      | すぐには厳しい。コードが多い。
    p.host
      b ――
      | 使えねー、ヘボSEだな。
    p.guest
      b クラ
      | はい、すみません。早くメインSEを入れてくださいねー。募集中ですお。
    p.host
      b ――
      | 技術よりも精神に自信がある方はぜひ応募してくださいね！
      br
      | [38] 生涯社についてひとこと
    p.guest
      b クラ
      | 何もしないけど、何かおごってほしい。
    p.host
      b ――
      | 多分、無理でしょうね。次も質問をまとめさせて頂きます。
      br
      | [39] プログラマが定着しない原因は何でしょうか？またその原因に対して対処する予定などあるのでしょうか？
      br
      | [40]
      | 39　これは有名だけど、九割が有末さんの性格とその振る舞いが原因。有末さんはいつになったら運営を退かれるのでしょうか。回答お願いします。
      br
      | [41]
      | 40 これはついったで言ってたけど有末は責任とってやめるという発想がなくて責任とって居座り続けるっていう謎理論で生きてるから絶対やめないよ
      br
      | [42]
      | 41　そうなのですか。責任をとってどうこうする必要は無いと思うけど、居座り続けているだけで迷惑をかけているという事は理解されているのか気になる所ですね
    p.guest
      b クラ
      | プログラマが定着しない、ってそんなにプログラマいないと思います。そもそもメインでやった人とか過去三人しかいないわけで。だから、プログラマが定着しないじゃなくて、母数が圧倒的に数が少ないところが、まず大きい気がします。だから、有末をはじめ無能運営にこっぴどくイジメられるとか先入観持たずに、プログラミングの技能がある人はSE応募したら良いと思います。
    .cb
    p.host
      b ――
      | なんか、ブラック企業
      sup ※22
      | の勧誘みたいですね。
    p.guest
      b クラ
      | 違うわ！！！
    p.note
      sup ※22
      b ブラック企業
      | 出社したらtwitterできないところはブラック。
    p.host
      b ――
      | だって、クラックさんも臨時じゃないですか。
    p.guest
      b クラ
      | あのスパゲッティなNeetelのコード見たら、心が折れる。マジで。有末さんは色々言ってくるけど、基本、相手にしなければいいだけなので、特に問題ないはず。変な提案してきても、ざーっといくつか理由上げて拒否したらおｋ。論理建てて、わかるまで説明したら、有末さんわかってくれる。それで折れなくても僕は興味ないから実装しないでおｋ。
    p.host
      b ――
      | 酷いですね。
    p.guest
      b クラ
      | そんな感じで有末さんあしらうのは簡単だけど、Neetelのコードは相手にしないわけにはいかないから、キツイ。だから、もう臨時ぐらいじゃないと無理です。誰かSEやってください。
    p.host
      b ――
      | つらそうですね。
      a(href='http://www.hisamitsu.co.jp/healthcare/products/601.html') お薬
      | 、増やしておきますね。
    p.guest
      b クラ
      | ……。
    p.host
      b ――
      | 次の質問は運営を褒めている内容ですね！
      br
      | [43] 正直、読者側は運営の重大さに気づかれてないというか裏の話題は裏で処理しろ、代わりなんて幾らでもいるだろうし誰かやるだろって態度で危機感や恩恵への感謝がないというか、これだと無賃金重労働のブラック会社そのもので個人的には土台である運営を支えて満たさない限りは新都社は良くならないむしろ終わると思ってるんですが、運営をもっと身近な存在にできるアイデアや運営祭りとかはないですか。今の編集部は好奇心で覗かない限りもろに裏の世界って感じなんですけど。
      br
      | [45]
      | 43は言い方悪いけど結構いい事言ってる。運営に親しみを感じられた方が安心して作品投稿できると思います。
    p.guest
      b クラ
      | こういう感謝をされることは、本家運営に！
    p.host
      b ――
      | 臨時の方は何も感謝されることやっていませんもんね。
    p.guest
      b クラ
      | ですです。フレーム化が終わったら、褒めて欲しいお。
    p.host
      b ――
      | とっとと作業完了させて欲しいですね。次はOutsideの機能への質問ですね。
      br
      | [44] やしろにおみくじ付けるって言ってたけどﾏﾀﾞｰ？
    p.guest
      b クラ
      | coltさん忙しそうなので厳しいのでは。
    p.host
      b ――
      | coltさん、ご存知なんですか。
    p.guest
      b クラ
      | いや、そんなに知らない。個人的に節約王のイメージがある。
    p.host
      b ――
      | そうですか。次のは文章が長いです。
      br
      | [46] 「広告料すら入らない完全非営利の個人サイトに勝手に人が集まってる」のが新都社創立以来の姿で、利用者増だの宣伝だのの努力は運営としては「してもしなくてもいい（少なくとも特にはならない）事」だと思うのですが、これが変わる予定、可能性はありますか？WEB漫画ブームを受けて、新都社も変化していくのか、今の立場を守っていくのか、運営としての総意があれば教えてください。
    p.guest
      b クラ
      | これの定義面白かった。守っていけると良いですね（本家丸投げコース）。
    p.host
      b ――
      | その言い草、これも興味無さそうな感じですね。
    p.guest
      b クラ
      | いや、これは本当に良い定義だと思う。新都社はこういうのが良いと思います。
    p.host
      b ――
      | なるほど、最速や次期最速とされる超絶は違うわけですね。
    p.guest
      b クラ
      | 同じだったら、新都社でやりますしね。
    p.host
      b ――
      | ほおー。こちらは第二部の最速の話で深く掘り下げていこうと思います！　次は2chのスレの話ですね。
      br
      | [47] マロンに病人が集まってるようですが
    p.guest
      b クラ
      | その隔離病棟の存在をコメントで初めて知りました。
    p.host
      b ――
      | あら。
    p.guest
      b クラ
      | GKさんかgooskaさんにURLを教えてもらったはずなんですが、どっかいった……。
    p.host
      b ――
      | いや、簡単に行けると思いますが……まあ、それでも見にいかないのだから、もういいか。というわけで、次の質問です。
      br
      | [48] 運営側で困ってることってありますか
    p.guest
      b クラ
      | 臨時だけど言っておきます。「SE」。
    p.host
      b ――
      | SE。
    p.guest
      b クラ
      | SEって言い方しているけど、SEって呼び方が正しいのかいつも疑問に思っている。
    p.host
      b ――
      | PGって業種もありますよね。
    p.guest
      b クラ
      | 僕、それらの区別つかない。「SE PG 違い」で出てくる
      a(href='http://detail.chiebukuro.yahoo.co.jp/qa/question_detail/q1410974079') 知恵袋のやつ
      | 見てもよくわからんかった。
    p.host
      b ――
      | なんと……ちなみにクラックさんはリアルだとSEなんですか？　PGなんですか？
    p.guest
      b クラ
      | どっちなのか自分でもわからん。
    p.host
      b ――
      | お仕事、プログラミングではないの？
    p.guest
      b クラ
      | 仕事はプログラミング関わっているけど、どっちでも無いような気がする。
    p.host
      b ――
      | URL貼るのが仕事っぽいですからね。まあ、次に行きましょうか。
      br
      | [49] コメ欄長文多すぎｗ　でももっとコメ欄長文打てるようにして欲しいです！
      br
      | コメント欄は皆さん、不満に思っているところが多そうですね。
    p.guest
      b クラ
      | 重ねて書きます。僕はこれ以上システム的に増やすべきでは無いと考えています。メインSEの方が入ったら、方針転換はあるかもしれませんが、臨時の自分しかいない間は、これは変わらないです。他のところに書くべき。
    p.host
      b ――
      | この手の質問いくつかあったと思うのですが、もうちょっと丁寧に答えたほうが良いのではないでしょうか。
    p.guest
      b クラ
      | わかりました。まず、新都社のコメント数の制限は255文字です。まず、システム的な事情ですが、コメントはMySQLに格納されています。そこで指定されている型の都合、上限が255文字だからです。この制限を緩めるにはDBの型を変更する必要があり、非常にめんどくさいです。
    p.host
      b ――
      | 型を変更すれば、いいだけでは？
    p.guest
      b クラ
      | それで済めば良いほど、Neetelうまくできていない。
    p.host
      b ――
      | ……なるほど、システムの変更が伴うから難しいということですね。
    p.guest
      b クラ
      | もう一つは、そもそも今のネット文化的に、コメントにそんな字数が必要とされていないように思えているからです。例えば、裏サンデーは80字が上限ですし、Twitterは140字が上限です。それに比べれば、新都社のコメントは非常に長いです。これらを踏まえて、個人的には、周りに合わせて、というわけではありませんが、コメントの上限をむしろ抑えても良いのではないかと思います。
    p.host
      b ――
      | なんと！
    p.guest
      b クラ
      | 個人的な思案なのでやるわけじゃないですよ。重ねて言いますが、そんなにたくさん書きたいなら、ブログにしっかりとレビューとして書くほうが良いと思います。ブログ借りる気とかねーよ、って思うのでしたら、FAつけてお絵かき掲示板に熱い思いをぶつけてください。絵が描けねーよ、って人は、ガチレビューと称すなりなんなりして、本スレに書くのが良いと思います。
    p.host
      b ――
      | コメント書く場所も適材適所ってことですね。
    p.guest
      b クラ
      | そういうことです。
    p.host
      b ――
      | では、次のコメントです。
      br
      | [50] 一気に回答するより小分けに回答した方がよりたくさんの人に質問、認識してもらえると思うんだけどどうでしょうか
      br
      | これは座談会そのものの運営方法についてですね。
    p.guest
      b クラ
      | 別に質問の場所もここだけではないはずなので、まとめてアップで良いと僕は思います。こういう機会じゃなくても、疑問があれば、編集部に書くなり、有末さんのTwitterに直接質問するなりすれば、回答されると思います。
    p.host
      b ――
      | そうですね、掲示板で聞けば良さそうですね。
    p.guest
      b クラ
      | オールウェイズおｋなはずです。
    p.host
      b ――
      | ところで有末さんのTwitterに質問してもいいものでしょうか。
    p.guest
      b クラ
      | 回答に信憑性が置けないだけで、質問自体は自由だと思います！　どうせ、編集部に書いても、有末さんに回答されたら同じようなレベルの内容ですし。
    p.host
      b ――
      | 言論の自由ってやつですね。なるほど、次に行きましょう。
      br
      | [51] 新都社のランキングは古株であるほど上位に残る傾向があるので新規さんの作画意欲に関わります。これを解消する手はないでしょうか。更新頻度やコメ数や重なるホスト名とかなどを計算式にすれば比較的平均値で格付けできそうですが、これでは処理が複雑で鯖が重くなりますか？もしくは裏サンデーのやり方をパク 参考にしてみるとか。
      br
      | ランキングの計算方法の提案ですが、どうでしょうか？
    p.guest
      b クラ
      | 僕は作りませんけど、そうですね。超絶ではやりたいと思います。
    p.host
      b ――
      | なんで新都社で作らないんですか？
    p.guest
      b クラ
      | プログラミング言語がPHPだからです。あと、Neetelにちょい足しするのが苦痛。
    p.host
      b ――
      | なるほど。メインSEが必要ということですね。
    p.guest
      b クラ
      | ですね。
    p.host
      b ――
      | しかし、これに対してはすぐに補足が付きました。
      br
      | [53]
      | 51　一週間とか二週間とかのランキングを見れば良いと思う。でなければいっその事ランキングを廃止する。元々そういうもので競うサイトじゃないし
      br
      | [54]
      | [53] 期間指定もあるなんて新都社歴数年で始めて知りました。ランキングの件はなかった事に。
    p.guest
      b クラ
      | ワロタ。もうあるのか。普段ランキング見ていないからなあ……。
    p.host
      b ――
      | 最速のランキングも見ていないんですか？
    p.guest
      b クラ
      | 最近見るのはもっぱら人気作一覧なので……。
    p.host
      b ――
      | 酷い。
    p.guest
      b クラ
      | あとは、超絶で試験的に作った話題作を実験的に見ている。
    p.host
      b ――
      | お、それはなんでしょうか。
    p.guest
      b クラ
      | 人気作には入らないけど、今人気あるし読むと良いかもっていう機能ですね。
    p.host
      b ――
      | ほー。人気作も固定化しちゃっているのでこれは期待大ですね。
    p.guest
      b クラ
      | いや、ただ、それが思ったよりも良くないので、困っている。
    p.host
      b ――
      | えー。それは……。
    p.guest
      b クラ
      | 正式にリリースしたら、精度は上げていくのでご勘弁を。
    p.host
      b ――
      | うまくいけば、人気作への登竜門になりそうな一覧ですね！　こちらも詳細は第二部で聞かせてもらいましょう。
      br
      | そして、まだ、ランキングの話題が続きます。
      br
      | [55] 新ランキングができたのは比較的最近から知らない人も多いと思う
    p.guest
      b クラ
      | まあ、ランキングなくても困りませんしね。
    p.host
      b ――
      | それはクラックさんが見ていないだけでしょ……。
      br
      | [56] ランキング押したら週間なり月間ランキングに飛ぶようにすれば？
      br
      | こちらの提案はどうですか？
    p.guest
      b クラ
      | どのランキングが正当なものか論争が始まりそうですね。一般的にはもっともスパンの短いものに飛ぶと便利っぽいらしいです[要出典]。
    p.host
      b ――
      | ほんとそれどこ情報ですか……。
    p.guest
      b クラ
      | 記憶違いあるかもしれないけど、ニコ動の開発関係者のスライドでなんか読んだような気がします。
    p.host
      b ――
      | あら、そんなのあったんですか。
    p.guest
      b クラ
      | いや、なんか勘違いな気もしてきました……。
    p.host
      b ――
      | しっかりしてください。次は新機能の提案ですね。
      br
      | [52] 新都社の投稿者が共有できる素材とか作って置いたらいいと思うんだけどＤＯＵＫＡＮＡ
    p.guest
      b クラ
      | うｐろだ使うとかとは違うのかな。
    p.host
      b ――
      | わざわざ、提案するから違うんじゃないんですかね。
    p.guest
      b クラ
      | ただ、これも勝手に作ればいいんじゃないのかな？　だって、最速もコメストも勝手に作られて、サポートサイトに取り込まれたので、これも「素材共有サイト作ったった！」ってURL貼ればいいんじゃないのかな。
    p.host
      b ――
      | なるほど、やったもん勝ちってやつですね。今度のやつは、なんかさっきも似たような奴があった気がしますが……
      br
      | [57] 裏サンデーについてはどう思ってるんですか？
    p.guest
      b クラ
      | やったはずです。さっきも書いたような気がするけど、面白いです。普通に面白いです。
    p.host
      b ――
      | でも、単行本買っていないんですよね。
    p.guest
      b クラ
      | 紙の本いらねーんだよ。Kindle版出せよ。
    p.host
      b ――
      | あれ、もしかするとそもそも漫画の単行本とか買っていないんですか？
    p.guest
      b クラ
      | 去年は一冊も買っていないですね。Kindleからは適当にポチっているけど。
    p.host
      b ――
      | あらら、そうなんですか。
    p.guest
      b クラ
      | 紙は邪魔。地震とかで特にそう思いました。
    p.host
      b ――
      | なるほど。
    p.guest
      b クラ
      | どんどん、電子化進むと嬉しいです。あと、もっと安くなってほしい。積読、増やすの躊躇しなくなるぐらいだといい。
    p.host
      b ――
      | そうですか。次の質問は……なんか勝手に解決しているっぽいですね。
      br
      | [58] まとめブログとか交流板とか外部のが全然息してなくて悲しいですアウトサイド班は何をやっているのでしょう
      br
      | [59]
      | 58　外部は運営と関係無い
    p.guest
      b クラ
      | 補足ありがとうございます。でも、それならここで取り上げる必要ないんじゃないの？
    p.host
      b ――
      | ちゃんと目を通すというのが重要だと思っています！
    p.guest
      b クラ
      | 時間ばっかかかるだけじゃねーか。
    p.host
      b ――
      | いえ、こういうところで誠実さを見せて行きましょうよ。というわけで、次のパターンも紹介。
      br
      | [60] 反応が欲しくてもコメ稼ぎと思われない為にランク外の質問コメﾌｫｰﾑがあればなぁと思いますが、どうでしょう？
      br
      | [64]
      | 60　無料のアンケートフォームがいくらでもある。自分でできる事は自分でやって、運営の手を煩わせない方が良いと思う
    p.guest
      b クラ
      | 良いフォロー多くて、嬉しいです。
    p.host
      b ――
      | 住人のフォローがうまく働いているといい感じですね。
    p.guest
      b クラ
      | でも、こういう完結しているのは、やっぱり無視しても良いと思う。
    p.host
      b ――
      | ヤです。次の質問です。
      br
      | [61] アンソロジー専用雑誌が欲しい
    p.guest
      b クラ
      | 僕はいらないと思っているけど、細かくは運営へ投げます。
    p.host
      b ――
      | クラックさんは雑誌増やすのには否定的ですよね。
    p.guest
      b クラ
      | 最速の対応考えないといけないのでね……。
    p.host
      b ――
      | あっ（察し。こちらも座談会そのものへの質問ですね。
      br
      | [62] 質問いつまで受け付けてますか
    p.guest
      b クラ
      | 本家は座談会の実施日には締め切ったようですが、こっちはいつまでですか？
    p.host
      b ――
      | 投稿日までです。
    p.guest
      b クラ
      | え。
    p.host
      b ――
      | 感想は取り上げませんよ。
    p.guest
      b クラ
      | いや、そうだけど、なんか多くね？
    p.host
      b ――
      | ぼっちならできる！
    p.guest
      b クラ
      | できねーよ。
    p.host
      b ――
      | あと、もう少しなんで頑張って下さい。
      br
      | [63] 連載中と完結済みの作品のランキングを分けてもらえると探しやすくていいかも。ついでに最終更新日も表示してもらえると放置とか投げられたのが一目で分かって便利だと思う
    p.guest
      b クラ
      | これはちょっと納得した。ありがとうございます。超絶には採用します。
    p.host
      b ――
      | 超絶で採用……って、新都社でやらないのはとにかく最速でやればいいのに……。
    p.guest
      b クラ
      | 最速もPHPなので、新機能はちょっと……。
    p.host
      b ――
      | PHPの嫌われっぷりヤバイですね。
    p.guest
      b クラ
      | もうあれは書きたくないです。
    p.host
      b ――
      | なんで新都社のSEやっているんですか？
    p.guest
      b クラ
      | 気づいたらなっていた。
    p.host
      b ――
      | 大変ですね。次の質問に行きます。セットで行きましょう。
      br
      | [65] 祭りがあるとき運営側からも予告みたいなものしてくれるとわかりやすいと思う。トップページに記載するとか
      br
      | [67]
      | 65　祭りは運営主導じゃないから本スレを定期的にチェックするしか無いような。それか運営じゃなくても告知できるスペースがあると良いかもね
    p.guest
      b クラ
      | むしろ、祭りのために本スレを見るという習慣ができるから良いじゃない。
    p.host
      b ――
      | 監視サービス作れよ（ﾎﾞｿｯ
    p.guest
      b クラ
      | 超絶できたら、最速の跡地に作りますよ……難しいかもしれないけど、ちょっと考える。
    p.host
      b ――
      | できるの？
    p.guest
      b クラ
      | スレの収集して、特徴見つけたら、どうにかなる気がします。
    p.host
      b ――
      | 期待します。次もコメント関係ですね。コメント関係の質問（要望？）多いです。
      br
      | [66] コメ欄の「長文省略する」が混乱させるだけの存在になってね？　せめてデフォではオフ設定にした方がいいと思われ
    p.guest
      b クラ
      | あれ、もともと長文の議論が発生した場合の対策だったような気がします。使われ方が変わりつつあるので、これは変えたほうがいいかもしれませんね。
    p.host
      b ――
      | クラックさん的にはどうすればいいと思っていますか。
    p.guest
      b クラ
      | コメントの字数の制限をもっときつくして、長文省略機能を無くす。
    p.host
      b ――
      | ……聞いたこちらがバカでした。
    p.guest
      b クラ
      | まじめに答えれば、長文省略の対象が多くなり過ぎたら（議論が白熱し過ぎたら）、発動とかいいかもしれない。それか、もう無くしてしまっても良いかもしれませんね。
    p.host
      b ――
      | はじめからそういう風に答えてくれると助かるんですけどね。はい、次は、非常に時期を狙ったような質問です。
      br
      | [68] 今年、チョコレートいくつもらった？
    p.guest
      b クラ
      | ゼロです。
    p.host
      b ――
      | そうですか。次です。
      br
      | [69] 運営個々が今何をする人でこれから何をしようとしているか等わかりやすく告知していくような場所は作れないかな？いろんな事情でできなくなる事もあるので安易にはできないかもしれないけど、最近は運営と利用者の距離が離れすぎてる気がする。
    p.guest
      b クラ
      | 臨時SEは適当に作業進める感じです。他はプログラムが書けないので……。
    p.host
      b ――
      | 正にニート社ってやつですね！
    p.guest
      b クラ
      | 洒落になっていないので、本当にSE、誰か来て。
    p.host
      b ――
      | これで来たら苦労していないんですけどね。Outsideへの質問再びです。
      br
      | [70] トップページの変更とかクエストとかどうなってんの？
    p.guest
      b クラ
      | これは僕の領分じゃないので、本家に丸投げします。
    p.host
      b ――
      | あと、一つだからもうちょっと頑張ってください。
    p.guest
      b クラ
      | coltさんがきっと頑張ってくれるはずです。
    p.host
      b ――
      | はい、ありがとうございました。これで最後です。
      br
      | [71] ３月には回答開始してくれると嬉しいな
    p.guest
      b クラ
      | 「公開は新都社８周年に当たる03月13日前後を予定しております」ってあるので、まあ、もうちょっと待てばいいのでは……ってこれ答える必要あるのかよ。
    p.host
      b ――
      | 無いですね。
    p.guest
      b クラ
      | おい。
    p.host
      b ――
      | 質問はこれで全部のようですね！　それでは、ここからは第二部として「新都社、最速、超絶」と題して、クラックさんと新都社の出会いから最速の歴史、そして超絶の未来の話に進もうと思います。
    p.guest
      b クラ
      | 疲れた。これで終わりにしよう。
    p.host
      b ――
      | ええ、今日はここまでですか？　じゃあ、次回の日程とかいつにしましょうか。
    p.guest
      b クラ
      | いや、もう終わりでいいよ。
    p.host
      b ――
      | そんな！　最速の歴史とか聞きたいですよ。
    p.guest
      b クラ
      | ねーよ。どっちかというと語りたいだけじゃねーか。
    p.host
      b ――
      | でも、聞きたい人いると思いますよ。
    p.guest
      b クラ
      | そういうの超絶が終わって、最速跡地に次の便利ツール作ってからね。
    p （完）
    .cb
    dl.colophon
      dt 話し手
      dd クラック（新都社臨時SE）
      dt 聞き手
      dd
        a(href='http://www.nicovideo.jp/watch/sm11895128') 匿名希望の
        | クラックサン
      dt トップ絵
      dd
        a(href='http://neetsha.in/13425') 球体関節人間訃報投棄全集の人
    //- Neetel_Inside_Comment
    form(action='http://neetsha.jp/inside/comment.php', method='post')
      a(href='http://neetsha.jp/') 新都社
      a(href='http://neetsha.jp/inside/comment.php?id=14574') 〒
      input(type='hidden', name='methodid', value='1')
      input(type='hidden', name='id', value='14574')
      input(type='hidden', name='enc', value='0')
      input(type='text', size='50', maxlength='255', name='comment')
      input(type='submit', name='submit', value='コメント送信')
    //- Neetel_Inside_Comment
