extends ../common/.bootstrap-layout

append meta
  title Novelint

append styles
  link(rel='stylesheet', href='styles.css')

append scripts
  script.
    var pp=console.log.bind(console);
  script(src='//cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js')
  script(src='novelint.js')
  script(src='scripts.js')

append contents
  #vue
    h1 Novelint
    #lint
      .form-group
        textarea.form-control(name='text', placeholder='検証したい文章を入力してください', v-model='text')
      .form-group.clearfix
        span.pull-left
          button.btn.btn-primary(v-on:click.stop.prevent='review') 検証
          button.btn.btn-default(type='button', data-toggle='modal', data-target='#conf') 設定
        span.pull-right
          button.btn.btn-default(v-on:click.stop.prevent='autofix')  自動修正
    h2(v-if='errors') {{errors.length}}件見つかりました
    #text(v-if='errors', v-html='reviewedHtml')
    #lint-nav.btn-group
      button.btn.btn-default(v-on:click.stop.prevent='prevError') &laquo; 前
      button.btn.btn-default(v-on:click.stop.prevent='nextError') 次 &raquo;
    #conf.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
            h4.modal-title 警告設定
          .modal-body
            .checkbox(v-for='lint in lints')
              label
                input(type='checkbox', v-model='lint[0]')
                | {{lint[1]}}
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') 閉じる
