extends ../common/_bootstrap-layout

append meta
  title Novelint

append styles
  link(rel='stylesheet', href='styles.styl')

append scripts
  include ../common/_vue
  script(src='novelint.coffee')
  script(src='scripts.coffee')

append contents
  #vue
    h1 Novelint
    #lint
      .form-group
        textarea.form-control(name='text', placeholder='検証したい文章を入力してください', v-model='text')
      .form-group.clearfix
        span.pull-left
          button.btn.btn-primary(v-on:click.stop.prevent='review') 検証
          button.btn.btn-secondary(type='button', data-toggle='modal', data-target='#conf') 設定
        span.pull-right
          button.btn.btn-secondary(v-on:click.stop.prevent='autofix') 自動修正
    h2(v-if='errors') {{errors.length}}件見つかりました
    #text(v-if='errors', v-html='reviewedHtml')
    #lint-nav.btn-group
      button.btn.btn-light(v-on:click.stop.prevent='prevError') &laquo; 前
      button.btn.btn-light(v-on:click.stop.prevent='nextError') 次 &raquo;
    #conf.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4.modal-title 警告設定
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') &times;
          .modal-body
            .form-check(v-for='(lint, key) in lints')
              input.form-check-input(type='checkbox', v-bind:id='"form-lint-check-"+key', v-model='lint[0]')
              label.form-check-label(v-bind:for='"form-lint-check-"+key') {{lint[1]}}
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') 閉じる
