extends ../common/.bootstrap-layout

append meta
  title フレンズすこあ

append contents
  h1 フレンズすこあ
  p.text-muted けものはいても　のけものはいない　ただしスコアが低い、テメーはダメだ
  form.form-inline
    .input-group
      .input-group-addon
        i.fa.fa-twitter
      input#screen-name.form-control(type='text')
      .input-group-addon#friends-score
        i.fa.fa-star-o
        i.fa.fa-star-o
        i.fa.fa-star-o
        i.fa.fa-star-o
        i.fa.fa-star-o

append scripts
  script(src='scripts.js')
