extends ../common/_bootstrap-layout

append meta
  title フレンズすこあ

append contents
  h1 フレンズすこあ
  p.lead.text-secondary けものはいても　のけものはいない　ただしスコアが低い、テメーはダメだ
  form.form-inline
    .input-group
      .input-group-prepend
        span.input-group-text
          i.fa.fa-twitter
      input#screen-name.form-control(type='text')
      .input-group-append#friends-score
        span.input-group-text
          i.fa.fa-star-o
          i.fa.fa-star-o
          i.fa.fa-star-o
          i.fa.fa-star-o
          i.fa.fa-star-o

append scripts
  script(src='scripts.coffee')
