extends ../common/_bootstrap-layout
include ../common/_vue

append meta
  title フレンズすこあ

append scripts
  script(src='scripts.js')

append contents
  h1 フレンズすこあ
  p.lead.text-secondary けものはいても　のけものはいない　ただしスコアが低い、テメーはダメだ
  #vue(v-cloak)
    form.form-inline
      .input-group
        .input-group-prepend
          span.input-group-text
            i.fa.fa-twitter
        input#screen-name.form-control(type='text', v-model='input')
        .input-group-append#friends-score
          span.input-group-text
            i.fa(v-bind:class='star(score - i + 1)', v-for='i in 5')
