extends ../common/_bootstrap-layout

block append meta
  title 沖縄在住の借金メーター

block append scripts
  script(src='scripts.js')

block append contents
  h1 沖縄在住の借金メーター
  p.text-secondary 二〇二二年十一月二十日　僕は覚えている　いしまつさんに2000円貸したことを…　本を買いすぎて文学フリマ東京の会場で本代を流れるように借りていて、当然のごとく飲み代がなかったことを……
  p
    big
      a(href='http://twitter.com/isimasin') いしまつ
      | さんの借金は現時点で
      big#jpy
      | です。
  p （金利は利息制限法に基づきます）
