extends ../common/.layout

append meta
  title 黒兎メーカー

append contents
  h1
    | 黒兎メーカー
    small みんなで黒兎さんのアイコンを作ろう！！！

append rows
  .row
    .col-sm-4
      form
        button.btn.btn-xs.btn-default 初期値に戻す
        .form-group
          label(for='left-eye-pos') 左目位置
          input#left-eye-pos(name='left_eye_pos', type='range', min='0', max='5', step='0.01', value='1.07')
        .form-group
          label(for='left-eye-size') 左目大きさ
          input#left-eye-size(name='left_eye_size', type='range', min='0', max='15', step='0.1', value='6')
        .form-group
          label(for='right-eye-pos') 右目位置
          input#right-eye-pos(name='right_eye_pos', type='range', min='0', max='5', step='0.01', value='1.07')
        .form-group
          label(for='right-eye-size') 右目大きさ
          input#right-eye-size(name='right_eye_size', type='range', min='0', max='15', step='0.1', value='6')
      p
        a(href='#') 画像ダウンロード（右クリック保存）
    .col-sm-8
      canvas(width='223', height='223', style='max-width:100%')

append scripts
  script(src='scripts.js')
