extends ../common/_bootstrap-layout

append meta
  title じどうで10つくったー

append contents
  h1 じどうで10つくったー
  p.lead.text-secondary 21世紀はパズルを機械に任せる時代
  p 順番を変えずに四則演算、冪乗、平方根、階乗の範囲で探します。無い場合もあります。
  form.form-inline
    .input-group
      input.form-control(type='text', name='numbers', placeholder='1,2,3,4')
      .input-group-append
        button.btn.btn-secondary(type='submit', disabled) さがす
  pre.mt-2
  p.text-right
    a(href='https://shindanmaker.com/217387', target='_blank') 元ネタ

append scripts
  script(src='scripts.coffee')
