html.js .hide {
  display: none;
}

body {
  padding: 0 20px;
  font-size: 18px;
  line-height: 1.5;
  color: #202124;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.wrap {
  margin: 100px auto;
  max-width: 30em;
}

body.allopen {
  background-image: url('rip-extlib.png');
  background-repeat: no-repeat;
  background-position: center calc(100% - 50px);
  .wrap {
    margin-bottom: 520px;
  }
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #1a73e8;
  &:hover {
    color: #174ea6;
  }
}

p {
  margin-top: 0;
}
.sign {
  color: #5f6368;
}
