extends ../common/_bootstrap-layout

append meta
  title モロ湾ジェネレーター

append styles
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c')

append contents
  h1 モロ湾ジェネレーター
  p.lead.text-secondary これはアイコンです

append rows
  .row
    .col-sm-auto
      canvas(width='240', height='240', style='font-family:"M PLUS Rounded 1c"')
    .col-sm-6
      form
        .form-group
          input.form-control#first-text(type='text', value='モロ湾')
        .form-group
          input.form-control#second-text(type='text', value='Moro Gulf')
        button.btn.btn-xs.btn-secondary 初期値に戻す
  .row
    .col-12
      p.text-right
        a(href='https://twitter.com/Ikkaidoh_Yoh/status/1095863938070147074') 元ネタ

append scripts
  script(src='scripts.coffee')
