extends ../common/_bootstrap-layout
include ../common/_vue

block append meta
  title モロ湾ジェネレーター

block append styles
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c')

block append scripts
  script(src='scripts.js')

block append contents
  h1 モロ湾ジェネレーター
  p.lead.text-secondary これはアイコンです

block append rows
  #vue.row(v-cloak)
    .col-sm-auto
      canvas(ref='canvas', width='240', height='240', style='font-family: "M PLUS Rounded 1c"')
    .col-sm-6
      .form-group
        button.btn.btn-sm.btn-secondary(v-on:click.stop.prevent='reset') 初期値に戻す
      .form-group
        input.form-control(type='text', v-model='first_text', v-on:input='update')
      .form-group
        input.form-control(type='text', v-model='second_text', v-on:input='update')
      .form-group
        a.btn.btn-sm.btn-success(ref='download', href='#', download)
          i.fa.fa-download
          = ' '
          | 画像ダウンロード
  .row
    .col-12
      p.text-right
        a(href='https://twitter.com/Ikkaidoh_Yoh/status/1095863938070147074') 元ネタ
