extends ../common/.bootstrap-layout

append meta
  title MultiSubTube

append styles
  link(rel='stylesheet', href='styles.css')

append scripts
  script.
    var pp=console.log.bind(console);
  script(src='scripts.js')
  script(src='//www.youtube.com/iframe_api')

append contents
  h1 MultiSubTube

  #player-with-subs
    #player
    #subs

  form#form-url
    .form-group
      label(for='conf-url') URL
      input.form-control#conf-url(name='url', type='text', disabled)
    button.btn.btn-default(type='submit', disabled) Show

  form#form-subs
    .form-group
      label(for='conf-subs') Subs (Click with Ctrl)
      select.form-control#conf-subs(name='subs', size='5', multiple, disabled)
    button.btn.btn-default(type='submit', disabled) Show
