extends ../common/_bootstrap-layout
include ../common/_vue

block append meta
  title MultiSubTube

block append styles
  link(rel='stylesheet', href='styles.scss')

block append scripts
  script(src='scripts.js')
  script(src='//www.youtube.com/iframe_api')

block body
  #vue.player-with-subs(v-cloak)
    #player
      #ytplayer
    #subs
      div(v-for='text in texts', v-html='text || "&nbsp;"')
    button#open-conf(type='button', data-toggle='modal', data-target='#modal-conf')
      i.fa.fa-cog

    #modal-conf.modal.fade(tabindex='-1')
      .modal-dialog(role='document')
        form.modal-content(v-on:submit.stop.prevent='play')
          .modal-header
            h4.modal-title MultiSubTube Config
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            .form-group
              label(for='conf-url') URL
              input#conf-url.form-control(type='text', v-model='url')
            .form-group(v-if='langs')
              label Subs
              .form-check(v-for='code in Object.keys(langs).sort()')
                input.form-check-input(
                  type='checkbox',
                  v-bind:id='"conf-lang-" + code',
                  v-model='selectedCodes[code]'
                )
                label.form-check-label(v-bind:for='"conf-lang-" + code', v-text='langs[code].label')
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary Play
