extends ../common/_bootstrap-layout

append meta
  title MultiSubTube

append styles
  link(rel='stylesheet', href='styles.styl')

append scripts
  script(src='scripts.coffee')
  script(src='//www.youtube.com/iframe_api')

block body
  #player-with-subs
    #player
      #ytplayer
    #subs
      //- div#sub-0 字幕
      //- div#sub-1 字幕
      //- div#sub-2 字幕
  button#open-conf(type='button', data-toggle='modal', data-target='#modal-conf')
    i.fa.fa-cog

  #modal-conf.modal.fade(tabindex='-1')
    .modal-dialog(role='document')
      form.modal-content
        .modal-header
          h4.modal-title MultiSubTube Config
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          .form-group
            label(for='conf-url') URL
            input.form-control#conf-url(name='url', type='text')
          .form-group
            label(for='conf-subs') Subs
            #conf-subs
              //- .form-check
              //-   input.form-check-input(type='checkbox', name='test', value='ja')
              //-   label.form-check-label ja
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          button.btn.btn-primary Play
