extends common/_layout
include common/_jquery

append meta
  title kluck.me

append styles
  link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Shrikhand')
  link(rel='stylesheet', href='styles.styl')

append scripts
  script(src='scripts.coffee')

append body
  .wrapper
    header
      h1
        a(href='https://kluck.me/') kluck.me
      ul
        li
          a(href='#profile') Profile
        li
          a(href='#releases') Releases
        li
          a(href='#elsewhere') Elsewhere
        li
          a(href='#folks') Folks
        li
          a(href='#about') About

    section#profile
      h2 Profile
      dl
        dt Name
        dd Kluck
        dt Mail
        dd kluck dot meme at gmail dot com
        dt Twitter
        dd
          a(href='https://twitter.com/kluck_me') @kluck_me
        dt GitHub
        dd
          a(href='https://github.com/kluck-me') kluck-me

    section#releases
      h2 Releases
      ul
        li
          a(href='http://extlib.net/') 超絶書庫
        //- li
        //-   a(href='/cih-kl-uck/') 旅をする僕
        li
          a(href='/lonely-talk-2013/') 一人で新都社運営座談会
        li
          a(href='/1to0/') 1が並んで0となる
        li
          a(href='/kluck-chan/') クラックちゃん

    section#elsewhere
      h2 Elsewhere
      ul
        li
          a(href='http://kluck.blog.jp/') 滅ぶ世界のポエムな日
        li
          a(href='http://d.hatena.ne.jp/kluck/') 白米と小説とプログラムのブログ
        li
          a(href='/wish/') ほしい物リスト

    section#folks
      h2 Folks
      ul
        li
          a(href='https://globalelite.black/') グローバルエリート

    section#about
      h2 Whatyawando?
      p
        | kluck.me is a trash stash that specializes in programming.
        = ' '
        | All the content on this website is free when offered.
        = ' '
        | If you have any problems with the contents please
        = ' '
        a(href='https://twitter.com/kluck_me') twitter
        = ' '
        | for contact.

    footer
      p
        script.
          document.write('&copy; 2013-' + (new Date).getFullYear())
        = ' '
        a(href='https://kluck.me/') Kluck
