doctype
html(lang='ja')
  head
    block meta
      meta(charset='UTF-8')
    block styles
      meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    block body
    block scripts
      script(src='//code.jquery.com/jquery-3.1.1.min.js')
