doctype
html(lang='ja')
  head
    block meta
      meta(charset='UTF-8')
    block styles
      meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    block body
    block scripts
      script.
        var pp=typeof console!=='undefined'&&console.log&&console.log.bind&&console.log.bind(console);
      script(src='//code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
