block append styles
  style.
    [v-cloak] {
      display: none;
    }

block append scripts
  script(src='//cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.min.js')
  if process.env.NODE_ENV === 'development'
    script.
      window.vm && location.reload();
